{% extends "app/common/base.html" %}
{% load static %}

{% block content %}
{% include "app/common/title.html" with title="ルービックキューブチャレンジツアー2024にてSCJ記録認定会を開催します" %}

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-3">
      <div class="mb-3">
        <a href="https://www.megahouse.co.jp/rubikcube/challengetour_2024/" target="_blank">ルービックキューブチャレンジツアー2024</a> において、SCJ記録認定会を開催いたします。
      </div>

      <div class="mb-3">
        <img class="img-fluid" src="https://speedcubing.or.jp/static/app/image/information/rc_challengetour2024_bnr1.jpg">
      </div>

      <div class="mb-3">
        <div>期間：2024年4月～順次開催</div>
        <div>主催：㈱メガハウス</div>
        <div>協力：一般社団法人スピードキュービングジャパン</div>
        <div>後援：駐日ハンガリー大使館</div>
      </div>

      <div class="mb-3">
        <div>SCJ記録認定会に関する詳細情報は追ってお伝えします。</div>
        <div>全国各地での開催となりますので、ぜひ最寄りの会場にお越しください。</div>
        <div>イベント全般に関する情報は、下記リンクよりご確認ください。</div>
      </div>

      <div class="mb-3">
        <a href="https://www.megahouse.co.jp/rubikcube/challengetour_2024/" target="_blank">ルービックキューブチャレンジツアー2024</a>
      </div>

      <div class="mb-3">
        <a href="https://www.megahouse.co.jp/rubikcube/" target="_blank">ルービックキューブ公式ホームページ</a>
      </div>
  </div>
</div>
{% endblock content %}
