python/src/__pycache__/
*.py[cod]
*$py.class
.DS_Store

scj.code-workspace
static

env/
python/src/secrets.json
.env
mysql/init.d/init.sql

python/src/app/fixtures/user.json
python/src/app/fixtures/person.json
python/src/app/fixtures/stripeprogress.json
tests/