{% extends "app/common/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h4 class="ml-2 mb-3">確認</h4>

<div class="card">
  <div class="card-body">
    {% if recaptcha %}
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <strong>私はロボットではありませんにチェックを入れてください。</strong>
       </div>
    {% endif %}
    <table class="table">
      <tbody>
        {% for field in user_form %}
          {% if field.name == 'email' %}
            <tr>
              <td class="table-dark">{{ field.label_tag }}</td>
              <td>{{ field.value }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        {% for field in person_form %}
          <tr>
            <td class="table-dark">{{ field.label_tag }}</td>
            {% if field.name == 'gender' %}
              <td>{{ gender }}</td>
            {% elif field.name == 'prefecture_id' %}
              <td>{{ prefecture }}</td>
            {% else %}
              <td>{{ field.value }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <form class="mb-3" action="{% url 'registration_execute' %}" method="POST">
      <div class="mb-3 g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
      <button type="submit" class="btn btn-success btn-lg mr-3">送信</button>
      <a href="{% url 'registration_input' %}" class="btn btn-dark btn-lg">戻る</a>
      {% csrf_token %}
    </form>
    <div>

    </div>
  </div>
</div>

{% endblock %}
