{% extends "app/base.html" %}

{% block content %}
<h4 class="ml-2 mb-3">各種イベント活動内容の宣伝​</h4>

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <div>各地のスピードキュービング団体の活動を当ページにて告知することができます。​​</div>
      <div>宣伝効果アップの手段として、ぜひご検討ください。​​</div>
      <div>告知をご希望の方は、掲載ルールをご覧のうえ、下記申込みフォームに必要事項を記載してください。​</div>
    </div>
    <div class="mb-5">
      <h5>掲載までの流れ​</h5>
      <hr>
      <div>イベント告知の掲載希望日から5日前までに、<a href="{% url 'post_input' 'event' %}">こちら</a>のフォームから申請してください。</div>
      <div class="mb-4">内容を確認し、承認後に掲載いたします。</div>
      <div>掲載申請には特別なアカウント権限が必要です。</div>
      <div>初回申請の前に、<a href="{% url 'contact' %}">お問い合わせ</a>より団体やイベントの活動趣旨をお知らせください。代表者のアカウントに権限を付与します。</div>
    </div>
    <div class="mb-5">
      <h5>掲載ルール​</h5>
      <hr>
      <ul>
        <li>スピードキュービングに関するイベント及びスピードキュービングの普及に資するとSCJが判断できるイベントが対象です。​</li>
        <li>法人及び販売を主目的としたイベントは無償掲載対象外とします。​</li>
        <li>日本国内で開催するイベントのみとします。​</li>
        <li>イベントの詳細を記入するウェブサイトを用意してください。SCJでの告知はあくまで補助的なものです。​</li>
        <li>一般の方に迷惑がかからない場所での開催に限ります。​</li>
        <li>掲載するイベントについて基本的に希望すれば誰でも参加できるイベントに限ります。​</li>
        <li>掲載費は2021年7月末までは無償としますが、今後変更となる可能性があります。​</li>
        <li>同一主催者の同地域におけるイベント掲載頻度については、2021年7月末までは2週間に1度を限度とします。​</li>
        <li>掲載内容に変更が生じた場合は、速やかにSCJに連絡するとともに、すでに申込者がいる場合は変更について周知するようにしてください。</li>
        <li>上記を満たしている場合でも、SCJの判断により掲載を見送る場合、または取りやめる場合があります。​</li>
      </ul>
    </div>
    <div class="mb-5">
      <h5>免責事項​</h5>
      <hr>
      <ul>
        <li>本サイト及び掲載により、提供される全ての情報の有用性、適合性、完全性、正確性、安全性、合法性、最新性等について、一切の責任を負いません。​</li>
        <li>本サービスの利用又は利用不能により生じる一切の損害（精神的苦痛、その他の金銭的損害を含む一切の不利益）について、一切の責任を負いません。​</li>
        <li>リンク先のサイトについて、そのサイトを運営する個人・団体との特別な関係はないとともに、当該サイトを推奨するものでもありません。リンク元サイトの内容は、そのサイトの管理者等に帰属し、SCJとは関係ないものであり、リンク元サイトの内容等について、SCJはいかなる責任も負わないものとします。​</li>
      </ul>
    </div>
  </div>
  <div class="card-footer small text-right">
      2020年11月12日&nbsp;作成
  </div>
</div>
{% endblock content %}