{% extends "app/base.html" %}
{% load static %}

{% block content %}
<h4 class="ml-2 mb-3">掲載Q&A​</h4>

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <ul>
        <li><a href="#question1">開催予定のイベントに都道府県在住者のみなどの一定の制限をかけることはできませんか？</a>​</li>
        <li><a href="#question2">実際の一般参加者が10名を下回った場合はどうなりますか？</a></li>
        <li><a href="#question3">一般の方に迷惑が掛からない場所とはどういう場合ですか？​</a></li>
        <li><a href="#question4">いわゆるオンラインイベントの告知は可能ですか？</a>​</li>
        <li><a href="#question5">発表済みの告知内容を修正したいです。</a></li>
        <li><a href="#question_other1">スピードキュービングに関するイベントを開催する場合、SCJに許可を取る必要がありますか？</a>​</li>
      </ul>
    </div>
    <div id="question1" class="mb-5">
      <h5>開催予定のイベントに都道府県在住者のみなどの一定の制限をかけることはできませんか？​</h5>
      <hr>
      <div>制限をかけたとしても、一般の参加者（運営や知り合いを除く）が10人以上集まると見込まれる場合は制限が可能です。​</div>
      <div>一見だれでも参加できそうな記載であっても、開催場所が自宅や学校内であり、実質的に参加者が大きく制限されると判断される場合は告知を許可しないことがあります。​</div>
      <div>制限をかけたい場合、一般の参加者が10人以上見込める理由等を備考欄に記載してください。​</div>
    </div>
    <div id="question2" class="mb-5">
      <h5>実際の一般参加者が10名を下回った場合はどうなりますか？</h5>
      <hr>
      <div>開催/中止の決定権は主催者にあります。​</div>
      <div>企画段階でSCJに承認されていれば、実際に集まった人数が10人以下だったとしても特に問題はありません。​</div>
    </div>
    <div id="question3" class="mb-5">
      <h5>一般の方に迷惑が掛からない場所とはどういう場合ですか？​</h5>
      <hr>
      <div>いわゆる公民館や貸会議室などになります。開催場所がオープンであったとしても、ファミリーレストランやカラオケなど、一般の人に迷惑がかかると判断される場所での開催の告知は許可できません。​</div>
    </div>
    <div id="question4" class="mb-5">
      <h5>いわゆるオンラインイベントの告知は可能ですか？​</h5>
      <hr>
      <div>スピードキュービングの普及に広く資するとSCJが判断できる場合は告知を許可する場合があります。検討されている場合は、お問い合わせ窓口からご連絡ください。​</div>
    </div>
    <div id="question5">
      <h5>発表済みの告知内容を修正したいです。​​</h5>
      <hr>
      <div>システム上、発表済みのイベント内容をご自身で変更することはできません。<a href="{% url 'contact' %}">お問い合わせ</a>から修正依頼をご連絡ください。​</div>
      <div>このとき、まずは団体自身の告知ページを更新してください。また、参加申込者への個別連絡など、更新内容を周知を徹底してください。​</div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header lead">
    その他Q&A
  </div>
  <div class="card-body">
    <div id="question_other1">
      <h5>スピードキュービングに関するイベントを開催する場合、SCJに許可を取る必要がありますか？​</h5>
      <hr>
      <div>許可は不要です。</div>
      <div>一般的なスピードキュービングの活動について、SCJは関与いたしません。</div>
      <div>この各種イベント活動の宣伝は、あくまでSCJと連携する希望者を支援するためのものです。​</div>
    </div>
  </div>
</div>
{% endblock content %}