{% extends "app/common/base.html" %}

{% block content %}
{% include "app/common/title.html" with title="SCJ大会について" %}

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      より幅広い競技者のニーズに応えると同時に、実行委員の運営負担を減らすことでより頻繁にSCJ大会が開催されるように、SCJ大会の運用を2024年7月1日より変更します。
    </div>

    <div class="h5 mb-2">
      運用変更の骨子
    </div>
    <hr>

    <ul class="mb-5">
      <li>競技形式は、SCJが指定するいくつかの形式から選択します。<br>
      スピードキュービング文化として一般的な "average of 5" 予選・決勝など複数ラウンド制のほか、参加者同士の 1on1トーナメント形式など、実行委員の裁量によって自由度の高い運用を可能とする予定です。</li>

      <li>大会結果の一次情報は個別の実行委員が発表し、SCJホームページからリンクできるようにします。<br>
      発表の形式は、SCJが指定するフォーマットの文書ドキュメントやスプレッドシートを用いて作成したPDFファイル単位での掲載を想定しています。</li>

      <li>参加者間の順位は、個別の大会の中でのみ定義されます。<br>
      個人ごとの記録をSCJは蓄積しません。このため、種目別、個人別などあらゆるランキングをSCJは作成しません。</li>
    </ul>

    <div class="h5 mb-2">
      これまでに開催したSCJ大会の扱い
    </div>
    <hr>

    <ul class="mb-5">
      <li>過去の大会結果 <br>
      2024年6月末までの結果は大会ごとにとりまとめ、SCJ webページに2025年7月末までPDFファイルとして掲載します。2025年8月以降の掲載継続は、それぞれの大会を開催した実行委員に委ねます。
      </li>

      <li>過去のランキング <br>
      2024年7月末をもって、SCJ webページでの掲載を中止します。
      </li>
    </ul>

    <div class="h5 mb-2">関連規定の改定</div>
    <hr>
    <div class="mb-4">
      「スピードキュービングジャパン公認大会及びスピードキュービングジャパン審判員に関する規定」は、
      2024年7月1日までに規定を改定し、SCJのホームページ上で公開します。
    </div>
  </div>
</div>

<div class="card mb">
  <div class="card-body">
    <div class="mb-5">
      <h5>目的</h5>
      <hr>
      <div>幅広い競技者層のニーズに応える競技大会を開催し、スピードキュービングの普及と発展を図る。</div>
    </div>
    <div class="mb-5">
      <h5>開催ポリシー</h5>
      <hr>
      <div>SCJ大会では、SCJ公認記録を計測する機会を提供します。​ ​</div>
      <div>参加人数が10名~30名程度の各地域サークルなどを母体とした活動の中で開催されることを想定しており、地域在住/在勤、または年齢を用いた区別など、各コミュニティの実情に応じた属性による参加資格の限定が可能です。 </div>
      <div>これにより、日本各地にスピードキュービングを振興する拠点を広く設けることを狙います。</div>
    </div>
    <div class="mb-5">
      <h5>ロードマップ</h5>
      <hr>
      <div>正式運用を開始しました。のべ1000人の参加を目標とします。​</div>
    </div>
    <div class="mb-5">
      <h5>規則</h5>
      <hr>
      <div><a href="{% url 'competition_regulation' %}">こちら</a>を御覧ください。</div>
    </div>
    <div class="mb-5">
      <h5>公認審判員</h5>
      <hr>
      <div>SCJ大会の結果を認定する役割です。</div>
      <div class="mb-4">公認審判員の監督下で開催されたSCJ大会の記録のみが公認記録になります。​</div>
      <div class="mb-4">公認審判員となるには、下記要項を満たす必要があります。​</div>
      <ul class="mb-4">
        <li>SCJの理念に共感し、その達成に貢献できること。​</li>
        <li>所定の「SCJ公認審判員宣誓書」に署名すること。​</li>
        <li>年間登録料として5000円を納めること。​</li>
        <li>World Cube Associationの公式大会またはSCJ公認大会に合計3回以上出場した経験があること。<a href="" data-toggle="modal" data-target="#annotation1">*</a>​</li>
        <li>スピードキュービングに関わる組織を半年以上運営し、のべ50人以上参加していること。</li>
      </ul>
      <div class="mb-3">
        <a href="https://forms.office.com/r/V6K4NAfXA5"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>SCJ審判員 審査申請フォーム</button></a>
      </div>
      <div>審査期間3週間以内に回答します。</div>
    </div>
    <div class="mb-5">
      <h5>ランキング</h5>
      <hr>
      <div class="mb-4">SCJでは、以下に基づくランキングを作成し、当サイト内にて公開します。​</div>
      <ul>
        <li>住所登録地域</li>
        <li>世代別</li>
        <li>性別</li>
      </ul>
    </div>
    <div class="mb-5">
      <h5>Q&A</h5>
      <hr class="mb-3">
      <h5 class="font-weight-bold">SCJ大会を開催するのはどのような手続きをとればいいですか？</h5>
      <hr>
      <div>初めにSCJ審判員になっていただく必要がございます。</div>
      <div>条件は上に記載しております。応募は上のフォームからよろしくお願いします。</div>
      <div class="mb-4">その後の手続き等はおって連絡させていただきます。</div>
      <h5 class="font-weight-bold">どのような種目を開催できますか？</h5>
      <hr>
      <div>現時点でWCA公式種目の競技のみ開催可能です。</div>
      <div>また試用期間中はこちらで大会ごとの種目設定を制限をすることはございません。</div>
      <div class="mb-4">ただしスケジュールに無理がある等の場合はこちらで相談させていただきます。</div>
      <h5 class="font-weight-bold">参加資格の限定が可能ですが、どのような条件を課すことができますか？</h5>
      <hr>
      <div>試用期間中は参加条件をこちらで制限をすることはございません。</div>
      <div class="mb-3">社会通念上許容される範囲内で団体に即した制限が可能でございます。</div>
      <div>例</div>
      <ul class="mb-4">
        <li>地域(都道府県、市町村、その他の該当地域)の制限</li>
        <li>所属(該当団体に所属など)制限</li>
        <li>性別制限</li>
        <li>年齢制限</li>
        <li>その他(社会通念上許容される場合に限る)の制限</li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="annotation1" tabindex="-1" role="dialog" aria-labelledby="annotation1ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">注釈</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>ただし、SCJ役員による厳正な審査の下、キューブ文化の普及に著しく貢献し、かつSCJ公認審判員の素養が認められる者についてはこの限りではありません。</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
