{% extends "app/base.html" %}
{% load bootstrap4 %}
{% load competition_logo %}
{% load static %}
{% load key %}

{% block content %}
{% with path=competition|competition_logo %}
  <h4 class="ml-2 mb-3"><img class="mr-2" width="30" src="{% static path %}">{{ competition.name }}</h4>
{% endwith %}

<div class="row">
  <div class="col-sm-2 mb-3">
    {% include "app/competition/menu.html" with active='competitor' %}
  </div>
  <div class="col-sm-10 mb-3">
    <select class="competition_competitor">
      <option value="{% url 'competition_competitor' competition.name_id 'list' %}" {% if event_name == 'list' %}selected{% endif %}>全競技者</option>
      {% for name in event_names %}
        <option value="{% url 'competition_competitor' competition.name_id name %}" {% if event_name == name %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
    {% if competitors %}
      <table id="competitor" class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">氏名</th>
            {% if competition.type == consts.COMPETITION_TYPE_SCJ %}
              <th scope="col">都道府県</th>
            {% endif %}
            {% if event_name != 'list' %}
              <th scope="col">ベスト</th>
              <th scope="col">平均</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for competitor in competitors %}
            <tr{% if competitor.status == consts.COMPETITOR_STATUS_PENDING %} class="bg-light"{% endif %}>
              <th scope="row">{% if competitor.status == consts.COMPETITOR_STATUS_PENDING %}未承認{% else %}{{ forloop.counter }}{% endif %}</th>
              <td>{{ competitor.name }}</td>
              {% if competition.type == consts.COMPETITION_TYPE_SCJ %}
                <td>{{ competitor.prefecture }}</td>
              {% endif %}
              {% if event_name != 'list' %}
                <td>{{ competitor.best }}</td>
                <td>{{ competitor.average }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
{% endblock %}