{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load key %}
{% load result_convert %}
{% load i18n %}

{% block content %}
{% include "app/common/competition_title.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='competitor' %}
  </div>
  <div class="col-lg-10 mb-3">
    <select class="competition_competitor">
      <option value="{% url 'competition_competitor' competition.name_id 'list' %}" {% if event_name == 'list' %}selected{% endif %}>{% trans "全競技者" %}</option>
      {% for name in event_names %}
        <option value="{% url 'competition_competitor' competition.name_id name %}" {% if event_name == name %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
    {% if competitors %}
      <table id="competitor" class="table table-hover table-sm">
        <thead>
          <tr>
            {% if competition.type == competition_type.SCJ.value %}
              <th scope="col"><i class="fas fa-sort"><span class="ml-2">SCJ ID</span></th>
            {% elif competition.type == competition_type.WCA.value %}
              <th scope="col"><i class="fas fa-sort"><span class="ml-2">WCA ID</span></th>
            {% endif %}
            <th scope="col"><i class="fas fa-sort"><span class="ml-2">{% trans "氏名" %}</span></th>
            {% if competition.type == competition_type.SCJ.value %}
              <th scope="col"><i class="fas fa-sort"><span class="ml-2">{% trans "都道府県" %}</span></th>
            {% elif competition.type == competition_type.WCA.value %}
              <th scope="col"><i class="fas fa-sort"><span class="ml-2">{% trans "国" %}</span></th>
            {% endif %}
            {% if event_name != 'list' and competition.type == competition_type.SCJ.value %}
              <th scope="col"><i class="fas fa-sort"><span class="ml-2">{% trans "ベスト" %}</span></th>
              <th scope="col"><i class="fas fa-sort"><span class="ml-2">{% trans "平均" %}</span></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for competitor in competitors %}
            <tr{% if competitor.status == competitor_status.PENDING.value %} class="bg-light"{% endif %}>
              {% if competition.is_display_pending_competitor %}
                <th scope="row">{% if competitor.status == competitor_status.PENDING.value %}{% trans "未承認" %}{% endif %}</th>
              {% elif competition.type == competition_type.WCA.value and competitor.person.wca_id %}
                <td><a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a></td>
              {% elif competition.type == competition_type.SCJ.value %}
                <td>{{ competitor.person.id }}</td>
              {% else %}
                <td></td>
              {% endif %}
              <td>{{ competitor.name }}</td>
              {% if competition.type == competition_type.SCJ.value %}
                <td>{{ competitor.prefecture }}</td>
              {% elif competition.type == competition_type.WCA.value %}
                <td>{{ competitor.country }}</td>
              {% endif %}
              {% if event_name != 'list' and competition.type == competition_type.SCJ.value %}
                <td>{{ competitor.best | result_convert:event_id }}</td>
                <td>{{ competitor.average | result_convert:event_id }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
{% endblock %}