{% extends "app/common/base.html" %}
{% load strip %}
{% load index %}
{% load event_name %}
{% load event_id_name %}
{% load i18n %}
{% load competition_logo %}
{% load static %}


{% block content %}
{% include "app/common/competition_title.html" %}
{% include "app/common/notification.html" %}
{% if admin_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in admin_errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='detail' %}

    {% if not competition.is_registration_at_other and not competition.is_finish and not has_results and not competition.is_cancel %}
      <div class="card">
        <div class="text-center card-header">
          {% trans "承認者数" %}
        </div>
        <div class="text-center mt-2 mr-2 ml-2 mb-3">
          <div class="mb-2"><span class="h1">{{ competitor_registration_count }}</span> <span class="h3">/</span> <span class="h4">{{ competition.limit }}</span></div>
          <div class="mb-2">{% include "app/competition/progress.html" with rate=competitor_registration_rate %}</div>
          <div>申し込み数: <span class="h5">{% if competition.registration_open_at > now %}0{% else %}{{ competitor_offer_count }}{% endif %}</span></div>
          {% if user.is_authenticated and competition.is_display_pending_competitor and pending_waiting_number > 0 %}
            <div>承認待ち順番: <span class="h5">{{ pending_waiting_number }}</div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-md mb-3">
    <div class="card">
      <div class="card-header lead">
        {% trans "基本情報" %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>{% trans "種別" %}</h6>
          {% with path=competition|competition_logo %}
            <img width="20" src="{% static path %}">
          {% endwith %}
          {% if competition.type == competition_type.WCA.value %}
            {% if series_competitions %}
              <span class="mr-1">{% trans "WCAシリーズ大会" %}</span>
            {% else %}
              <span class="mr-1">{% trans "WCA大会" %}</span>
            {% endif %}
            <a href="https://www.worldcubeassociation.org/competitions/{{ competition.name_id }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
          {% elif competition.type == competition_type.SCJ.value %}
            {% if not competition.is_registration_at_other %}
              {% trans "SCJ大会" %}
            {% else %}
              <span class="mr-1">{% trans "SCJ大会" %}</span>
              <a href="{{ competition.registration_url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
              <div>詳細は「<a href="{{ competition.registration_url }}" target="_blank">詳細外部サイト</a>」をご覧ください。</div>
            {% endif %}
          {% endif %}
        </li>
        {% if series_competitions %}
          <li class="list-group-item">
            <h6>{% trans "他シリーズ大会" %}</h6>
            <div>
              {% for series_competition in series_competitions %}
                <div>
                  <a href="{% url 'competition_detail' series_competition.name_id %}" target="_blank">{{ series_competition.name }}</a>
                </div>
              {% endfor %}
            </div>
            <div class="mt-2">
              <div>{% trans "WCAシリーズ大会は複数の大会を一連のシリーズとして扱うもので、それらのうち一つにのみ参加できます。" %}</div>
              <div>{% trans "複数に申込んだ場合は、申込完了日時が最も早いものだけを受理し、その他は無効となります。" %}</div>
            </div>
          </li>
        {% endif %}
        <li class="list-group-item">
          <h6>{% trans "日付" %}</h6>
          <div>
            {% if competition_day_count == 0 %}
              {{ competition.open_at | date:'Y年m月d日' }}&nbsp;({{ competition.open_at | date:"l" }})
            {% else %}
              {{ competition.open_at | date:'Y年m月d日' }}&nbsp;({{ competition.open_at | date:"l" }}) - {{ competition.close_at | date:'Y年m月d日' }}&nbsp;({{ competition.close_at | date:"l" }})
            {% endif %}
          </div>
          <div><a href="{{ google_calendar_url }}?action=TEMPLATE&text={{ competition.name }}&dates={{ google_calendar_date_param }}&location={{ competition.venue_address }}" target="_blank"><i class="fas fa-calendar-alt mr-1"></i>{% trans "Google Calendarに追加" %}</a></div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "会場" %}</h6>
          <div>
            <a href="{{ competition.venue_url }}" target="_blank">{{ competition.venue_name }}</a>&nbsp;{{ room_name }}
          </div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "会場住所" %}</h6>
          <div>
            {{ competition.venue_address }}
          </div>
          <div class="card-body embed-responsive iframe embed-responsive-16by9">
            <iframe src="{{ google_map_url }}?key={{ google_api_key }}&q={{ competition.latitude }},{{ competition.longitude }}"></iframe>
          </div>
        </li>
        <li class="list-group-item">
        <h6>{% trans "開催イベント" %}</h6>
          <div>
            {% for event_id in competition.event_ids %}
              <div>
                <span class="cubing-icon event-{{ event_id | event_id_name }} mr-2 md-2 h5"></span>{{ event_id | event_name }}
              </div>
            {% endfor %}
          </div>
        </li>
        {% if not competition.is_registration_at_other %}
          <li class="list-group-item">
            <h6>{% trans "定員" %}</h6>
            {% if not competition.event_limits %}
              <div>{{ competition.limit }}</div>
            {% else %}
              <div class="text-nowrap table-responsive">
                <table id="competitor" class="table table-hover table-bordered table-sm">
                  <thead>
                    <tr>
                      <th>{% trans "種目" %}</th>
                      <th>{% trans "定員" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event_id in competition.event_ids %}
                      <tr>
                        <td><span class="cubing-icon event-{{ event_id | event_id_name }} mr-2 md-2 h5"></span>{{ event_id | event_name }}</td>
                        <td>{{ competition.event_limits | index:forloop.counter0 }}</td>
                      <tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md mb-3">
    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "その他" %}
      </div>
      <ul class="list-group list-group-flush">
        {% if not competition.is_registration_at_other %}
          <li class="list-group-item">
            <h6>{% trans "申し込み日時" %}</h6>
            <div>
              {% if not competition.registration_at_other %}
                {{ competition.registration_open_at | date:'Y年m月d日 H:i' }}&nbsp;-&nbsp;{{ competition.registration_close_at | date:'Y年m月d日 H:i' }}
              {% else %}
                -
              {% endif %}
            </div>
          </li>
          <li class="list-group-item">
            <h6>{% trans "お知らせ" %}</h6>
            <div>
              {% if not competition.description_en %}
                {{ competition.description | strip | safe }}
              {% elif request.LANGUAGE_CODE == 'en' %}
                {{ competition.description_en | strip | safe }}
              {% else %}
                {{ competition.description | strip | safe }}
              {% endif %}
            </div>
          </li>
        {% endif %}
        {% if competition.qualification_description or competition.qualification_description_en %}
          <li class="list-group-item">
            <h6>{% trans "参加資格" %}</h6>
            <div>
              {% if not competition.qualification_description_en %}
                {{ competition.qualification_description | strip | safe }}
              {% elif request.LANGUAGE_CODE == 'en' %}
                {{ competition.qualification_description_en | strip | safe }}
              {% else %}
                {{ competition.qualification_description | strip | safe }}
              {% endif %}
            </div>
          </li>
        {% endif %}
        {% if competition.visitor_description or competition.visitor_description_en %}
          <li class="list-group-item">
            <h6>{% trans "競技参加者以外の来場要件" %}</h6>
            <div>
              {% if not competition.visitor_description_en %}
                {{ competition.visitor_description | strip | safe }}
              {% elif request.LANGUAGE_CODE == 'en' %}
                {{ competition.visitor_description_en | strip | safe }}
              {% else %}
                {{ competition.visitor_description | strip | safe }}
              {% endif %}
            </div>
          </li>
        {% endif %}
        <li class="list-group-item">
          <h6>
            {% if competition.type == competition_type.WCA.value %}
              {% trans "WCA Delegate" %}
            {% elif competition.type == competition_type.SCJ.value %}
              {% trans "SCJ 審判員" %}
            {% endif %}
          </h6>
          <div>
            {% for judge in judges %}
              {% if request.LANGUAGE_CODE == 'ja' %}
                {% if judge.wca_id and competition.type == competition_type.WCA.value %}
                  <div><a href="https://www.worldcubeassociation.org/persons/{{ judge.wca_id }}">{{ judge.get_full_name }}</a></div>
                {% else %}
                  <div>{{ judge.get_full_name }}</div>
                {% endif %}
              {% elif request.LANGUAGE_CODE == 'en' %}
                {% if judge.wca_id and competition.type == competition_type.WCA.value %}
                  <div><a href="https://www.worldcubeassociation.org/persons/{{ judge.wca_id }}">{{ judge.get_full_name_roma }}</a></div>
                {% else %}
                  <div>{{ judge.get_full_name_roma }}</div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "主催者" %}</h6>
          <div class="mb-1">
            <a href="mailto:{{ competition.organizer_email }}"><button type="button" class="btn btn-dark mb-2"><i class="far fa-envelope mr-2"></i>{{ competition.organizer_name }}</button></a>
          </div>
          <div>{% trans "ご不明点があれば、お気軽にご連絡ください。" %}</div>
          {% if competition.type == competition_type.WCA.value %}
            <div>{% blocktrans with url="https://www.worldcubeassociation.org/faq" %}<a href="{{ url }}" target="_blank">よくある質問</a>も合わせてご確認ください。{% endblocktrans %}</div>
          {% endif %}
        </li>
        {% if is_superuser %}
          <li class="list-group-item">
            <h6>運営メンバー</h6>
            <div class="mb-3">(運営にのみこの項目は表示されています)</div>
            <div class="mb-1">
              {% for organizer in organizers %}
                {% if request.LANGUAGE_CODE == 'ja' %}
                  {% if organizer.wca_id and competition.type == competition_type.WCA.value %}
                    <div><a href="https://www.worldcubeassociation.org/persons/{{ organizer.wca_id }}">{{ organizer.get_full_name }}</a></div>
                  {% else %}
                    <div>{{ organizer.get_full_name }}</div>
                  {% endif %}
                {% elif request.LANGUAGE_CODE == 'en' %}
                  {% if organizer.wca_id and competition.type == competition_type.WCA.value %}
                    <div><a href="https://www.worldcubeassociation.org/persons/{{ organizer.wca_id }}">{{ organizer.get_full_name_roma }}</a></div>
                  {% else %}
                    <div>{{ organizer.get_full_name_roma }}</div>
                  {% endif %}
                {% else %}
                  <div>{{ judge.get_full_name_roma }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="row">
      <div class="col text-right mr-2">
        <a href="https://twitter.com/intent/tweet?text={{ competition.name }}%0a{{ request.scheme }}://{{ request.get_host }}{{ request.path }}%0a@scj_speedcubingより" target="_blank"><button class="btn bg-twitter btn-sm text-white mr-1"><i class="fab fa-twitter fa-fw mr-1"></i>ツイート</button></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.path }}" rel="nofollow noopener noreferrer" target="_blank"><button class="btn bg-facebook btn-sm text-white"><i class="fab fa-facebook fa-fw mr-1"></i>シェア</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
