{% extends "app/base.html" %}
{% load strip %}
{% load static %}
{% load competition_logo %}
{% load event_name %}
{% load event_id_name %}

{% block content %}

{% with path=competition|competition_logo %}
  <h4 class="ml-2 mb-3"><img class="mr-2" width="30" src="{% static path %}">{{ competition.name }}</h4>
{% endwith %}

{% include "app/notification.html" %}
{% if competitor and competition.registration_close_at > now and not competition.is_cancel %}
  {% include "app/competition/status.html" %}
{% endif %}
<div class="row">
  <div class="col-sm-3 mb-3">
    {% include "app/competition/menu.html" with active='detail' %}

    {% if not has_results and not competition.is_cancel %}
      <div class="card">
        <div class="card-header lead">
          現在の承認者数
        </div>
        <div class="text-center mt-2 mr-2 ml-2 mb-3">
          <div class="mb-2"><span class="h1">{{ competitor_registration_count }} / {{ competition.limit }}</span>名</div>
          {% include "app/competition/progress.html" with rate=competitor_registration_rate %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card">
      <div class="card-header lead">
        詳細
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>日付</h6>
          <div>
            {% if competition_day_count == 0 %}
              {{ competition.open_at | date:'Y年m月d日' }}&nbsp;({{ competition.open_at | date:"l" }})
            {% else %}
              {{ competition.open_at | date:'Y年m月d日' }}&nbsp;({{ competition.open_at | date:"l" }}) - {{ competition.close_at | date:'Y年m月d日' }}&nbsp;({{ competition.close_at | date:"l" }})
            {% endif %}
          </div>
          <div><a href="{{ google_calendar_url }}?action=TEMPLATE&text={{ competition.name }}&dates={{ google_calendar_date_param }}&location={{ competition.venue_address }}&details={{ competition.description | strip }}" target="_blank"><i class="fas fa-calendar-alt mr-1"></i>Google Calendarに追加</a></div>
        </li>
        <li class="list-group-item">
          <h6>会場</h6>
          <div>
            {{ competition.venue_name }}
          </div>
        </li>
        <li class="list-group-item">
          <h6>会場住所</h6>
          <div>
            {{ competition.venue_address }}
          </div>
          <div class="card-body embed-responsive iframe embed-responsive-16by9">
            <iframe src="{{ google_map_url }}?key={{ google_api_key }}&q={{ competition.venue_address }}&center={{ competition.latitude }},{{ competition.longitude }}"></iframe>
          </div>
        </li>
        <li class="list-group-item">
        <h6>開催イベント</h6>
          <div>
            {% for event_id in competition.event_ids %}
              <div>
                <span class="cubing-icon event-{{ event_id | event_id_name }} mr-2 md-2 h5"></span>{{ event_id | event_name }}
              </div>
            {% endfor %}
          </div>
        </li>
        <li class="list-group-item">
          <h6>定員</h6>
          <div>
            {{ competition.limit }}名
          </div>
        </li>
        <li class="list-group-item">
          <h6>参加費支払い方法</h6>
          <div>
            {{ fee_pay_type_text }}
          </div>
        </li>
        <li class="list-group-item">
          <h6>参加費計算</h6>
          <div>
            {{ fee_calc_type_text }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-5 mb-3">
    <div class="card mb-3">
      <div class="card-header lead">
        その他
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>申し込み日時</h6>
          <div>
            {{ competition.registration_open_at | date:'Y年m月d日 H:i' }}&nbsp;-&nbsp;{{ competition.registration_close_at | date:'Y年m月d日 H:i' }}
          </div>
        </li>
        <li class="list-group-item">
          <h6>お知らせ</h6>
          <div>
            {{ competition.description | strip | safe }}
          </div>
        </li>
        {% if competition.requirement %}
          <li class="list-group-item">
            <h6>参加要件</h6>
            <div>
              {{ competition.requirement | strip | safe }}
            </div>
          </li>
        {% endif %}
        <li class="list-group-item">
          <h6>
            {% if competition.type == competition_type.WCA.value %}
              WCA Delegate
            {% elif competition.type == competition_type.SCJ.value %}
              SCJ 審判員
            {% endif %}
          </h6>
          <div>
            {% for judge in judges %}
              <a href="mailto:{{ judge.user.email }}"><button type="button" class="btn btn-dark mb-2"><i class="far fa-envelope mr-2"></i>{{ judge.get_full_name }}</button></a>
            {% endfor %}
          </div>
        </li>
        <li class="list-group-item">
          <h6>主催者</h6>
          <div class="mb-2">
            {% for organizer in organizers %}
              <a href="mailto:{{ organizer.user.email }}"><button type="button" class="btn btn-dark mb-2"><i class="far fa-envelope mr-2"></i>{{ organizer.get_full_name }}</button></a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}