{% extends "app/common/base.html" %}
{% load strip %}
{% load event_name %}
{% load event_id_name %}
{% load i18n %}
{% load competition_logo %}
{% load static %}


{% block content %}
{% include "app/common/competition_title.html" %}
{% include "app/common/notification.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='detail' %}

    {% if not has_results and not competition.is_cancel %}
      <div class="card">
        <div class="text-center card-header">
          {% trans "承認者数" %}
        </div>
        <div class="text-center mt-2 mr-2 ml-2 mb-3">
          <div class="mb-2"><span class="h1">{{ competitor_registration_count }} / {{ competition.limit }}</span></div>
          {% include "app/competition/progress.html" with rate=competitor_registration_rate %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-md mb-3">
    <div class="card">
      <div class="card-header lead">
        {% trans "基本情報" %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>{% trans "種別" %}</h6>
          {% with path=competition|competition_logo %}
            <img width="20" src="{% static path %}">
          {% endwith %}
          {% if competition.type == competition_type.WCA.value %}
          <a href="https://www.worldcubeassociation.org/competitions/{{ competition.name_id }}" target="_blank">{% trans "WCA大会" %}</a>
          {% elif competition.type == competition_type.SCJ.value %}
            {% trans "SCJ大会" %}
          {% endif %}
        </li>
        <li class="list-group-item">
          <h6>{% trans "日付" %}</h6>
          <div>
            {% if competition_day_count == 0 %}
              {{ competition.open_at | date:'Y年m月d日' }}&nbsp;({{ competition.open_at | date:"l" }})
            {% else %}
              {{ competition.open_at | date:'Y年m月d日' }}&nbsp;({{ competition.open_at | date:"l" }}) - {{ competition.close_at | date:'Y年m月d日' }}&nbsp;({{ competition.close_at | date:"l" }})
            {% endif %}
          </div>
          <div><a href="{{ google_calendar_url }}?action=TEMPLATE&text={{ competition.name }}&dates={{ google_calendar_date_param }}&location={{ competition.venue_address }}" target="_blank"><i class="fas fa-calendar-alt mr-1"></i>{% trans "Google Calendarに追加" %}</a></div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "会場" %}</h6>
          <div>
            {{ competition.venue_name }}&nbsp;{{ room_name }}
          </div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "会場住所" %}</h6>
          <div>
            {{ competition.venue_address }}
          </div>
          <div class="card-body embed-responsive iframe embed-responsive-16by9">
            <iframe src="{{ google_map_url }}?key={{ google_api_key }}&q={{ competition.venue_address }}&center={{ competition.latitude }},{{ competition.longitude }}"></iframe>
          </div>
        </li>
        <li class="list-group-item">
        <h6>{% trans "開催イベント" %}</h6>
          <div>
            {% for event_id in competition.event_ids %}
              <div>
                <span class="cubing-icon event-{{ event_id | event_id_name }} mr-2 md-2 h5"></span>{{ event_id | event_name }}
              </div>
            {% endfor %}
          </div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "定員" %}</h6>
          <div>
            {{ competition.limit }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md mb-3">
    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "その他" %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>{% trans "申し込み日時" %}</h6>
          <div>
            {{ competition.registration_open_at | date:'Y年m月d日 H:i' }}&nbsp;-&nbsp;{{ competition.registration_close_at | date:'Y年m月d日 H:i' }}
          </div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "お知らせ" %}</h6>
          <div>
            {% if not competition.description_en %}
              {{ competition.description | strip | safe }}
            {% elif request.LANGUAGE_CODE == 'en' %}
              {{ competition.description_en | strip | safe }}
            {% else %}
              {{ competition.description | strip | safe }}
            {% endif %}
          </div>
        </li>
        {% if competition.requirement or competition.requirement_en %}
          <li class="list-group-item">
            <h6>{% trans "参加要件" %}</h6>
            <div>
              {% if not competition.requirement_en %}
                {{ competition.requirement | strip | safe }}
              {% elif request.LANGUAGE_CODE == 'en' %}
                {{ competition.requirement_en | strip | safe }}
              {% else %}
                {{ competition.requirement | strip | safe }}
              {% endif %}
            </div>
          </li>
        {% endif %}
        <li class="list-group-item">
          <h6>
            {% if competition.type == competition_type.WCA.value %}
              {% trans "WCA Delegate" %}
            {% elif competition.type == competition_type.SCJ.value %}
              {% trans "SCJ 審判員" %}
            {% endif %}
          </h6>
          <div>
            {% for judge in judges %}
              {% if request.LANGUAGE_CODE == 'ja' %}
                {% if judge.wca_id and competition.type == competition_type.WCA.value %}
                  <div><a href="https://www.worldcubeassociation.org/persons/{{ judge.wca_id }}">{{ judge.get_full_name }}</a></div>
                {% else %}
                  <div>{{ judge.get_full_name }}</div>
                {% endif %}
              {% elif request.LANGUAGE_CODE == 'en' %}
                {% if judge.wca_id and competition.type == competition_type.WCA.value %}
                  <div><a href="https://www.worldcubeassociation.org/persons/{{ judge.wca_id }}">{{ judge.get_full_name_roma }}</a></div>
                {% else %}
                  <div>{{ judge.get_full_name_roma }}</div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </li>
        <li class="list-group-item">
          <h6>{% trans "主催者" %}</h6>
          <div class="mb-2">
            <a href="mailto:{{ competition.email }}"><button type="button" class="btn btn-dark mb-2"><i class="far fa-envelope mr-2"></i>{{ competition.organizer_name }}</button></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}