{% extends "app/common/base.html" %}
{% load event_name %}
{% load event_id_name %}
{% load i18n %}
{% load strip %}
{% load time_convert %}

{% block content %}
{% include "app/common/competition_title.html" %}
{% include "app/common/notification.html" %}
{% if admin_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in admin_errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

<div class="row mb-3">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='round' %}
  </div>
  <div class="col-lg-10">
    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "表彰" %}
      </div>
      <div class="card-body">
        {% if not competition.awards_description_en %}
          {{ competition.awards_description | strip | safe }}
        {% elif request.LANGUAGE_CODE == 'en' %}
          {{ competition.awards_description_en | strip | safe }}
        {% else %}
          {{ competition.awards_description | strip | safe }}
        {% endif %}
      </div>
    </div>
    {% if competition.assignment_description or competition.assignment_description_en %}
      <div class="card mb-3">
        <div class="card-header lead">
          {% trans "役割分担表" %}
        </div>
        <div class="card-body">
          {% if not competition.assignment_description_en %}
            {{ competition.assignment_description | strip | safe }}
          {% elif request.LANGUAGE_CODE == 'en' %}
            {{ competition.assignment_description_en | strip | safe }}
          {% else %}
            {{ competition.assignment_description | strip | safe }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "スケジュール" %}
      </div>
      <div class="row card-body ml-3 mb-3">
        {% for event_id, round_count in event_round_count_dict.items %}
          <div class="col-lg-3 col-md-5 col-xs-6">
            <input class="pt-3 competition_schedule_event" type="checkbox" value="{{ event_id }}">
            <span class="cubing-icon event-{{ event_id | event_id_name }} h1"></span>&nbsp;{{ round_count}}&nbsp;{% trans "ラウンド" %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% for date, room in round_dict.items %}
      <div class="card mb-3">
        <div class="card-header lead">
          {{ date }}
        </div>
        <div class="card-body">
          {% for room_name, rounds in room.items %}
            <h5>{{ room_name }}</h5>
            <div class="text-nowrap table-responsive">
              <table class="table table-hover table-bordered competition-schedule">
                  <thead>
                    <tr class="bg-dark text-white">
                      <th scope="col">{% trans "開始" %}</th>
                      <th scope="col">{% trans "終了" %}</th>
                      <th scope="col">{% trans "種目" %}</th>
                      <th scope="col">{% trans "ラウンド" %}</th>
                      <th scope="col">{% trans "形式" %}</th>
                      <th scope="col">{% trans "カットオフ" %}</th>
                      <th scope="col">{% trans "制限時間" %}</th>
                      <th scope="col">{% trans "進出人数" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for round in rounds %}
                      <tr round_type="{{ round.type }}" id="{{ round.event_id }}_round">
                        <td>{{ round.begin_at | date:"H:i" }}</td>
                        <td>{{ round.end_at | date:"H:i" }}</td>
                        <td>
                          {% if round.event_id == 0 %}
                            {{ round.event_name }}
                          {% else %}
                            <span class="cubing-icon event-{{ round.event_id | event_id_name }} mr-2 md-2 h5"></span>{{ round.event_id | event_name }}
                          {% endif %}
                        </td>
                        <td>{% if round.type > 0 %}{{ round.get_type_display }}{% endif %}</td>
                        <td>{% if round.cutoff_attempt_count > 0 %}Best of {{ round.cutoff_attempt_count }}&nbsp;/&nbsp;{% endif %}{% if round.format_id > 0 %}{{ round.get_format_id_display }}{% endif %}{% if round.attempt_count > 0 %}&nbsp;({{ round.attempt_count }}{% trans "試技目" %}){% endif %}</td>
                        <td>{% if round.cutoff_time > 0 %}{{ round.cutoff_time | time_convert }}{% endif %}</td>
                        <td>
                          {% if round.limit_time > 0 %}
                            {% if round.limit_type == round_limit_type.CUMULATIVE.value %}{% trans "累積" %}&nbsp;{% endif %}{{ round.limit_time | time_convert }}
                            {% if round.limit_event_ids %}
                              (
                              {% for limit_event_id in round.limit_event_ids %}
                                {{ limit_event_id | event_name }}
                              {% endfor %}
                              の累積 )
                            {% endif %}
                          {% endif %}
                        </td>
                        <td>
                          {% if round.proceed_type == proceed_type.COUNT.value %}
                            {% if round.proceed_count > 0 %}{{ round.proceed_count }}人{% endif %}
                          {% elif round.proceed_type == proceed_type.RATE.value %}
                            {% if round.proceed_rate > 0 %}上位{{ round.proceed_rate }}%が次のラウンドに進出します。{% endif %}
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="card mb-3">
      <div class="card-body">
        <h5>形式</h5>
        <div class="mb-3 table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr class="bg-dark text-white">
                <th scope="col" style="width:30%;">{% trans "形式" %}</th>
                <th scope="col">{% trans "説明" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Average of 5</td><td>{% trans "5回計測し最も速い記録と最も遅い記録を除き、残りの3つの記録の平均に基づいて順位を決定します。" %}</td>
              </tr>
              <tr>
                <td>Mean of 3</td><td>{% trans "3回計測しその3つの記録の平均に基づいて順位を決定します。DNFやDNSがある場合、記録が3回未満なので平均記録はDNFとなります。" %}</td>
              </tr>
              <tr>
                <td>Best of X</td><td>{% trans "X回計測しその中で最も速い記録に基づいて順位を決定します。" %}</td>
              </tr>
              <tr>
                <td>Best of X / Average of 5 (Mean of 3)</td><td>{% trans "カットオフが設定されています。Beat of Xの中でカットオフの制限をクリアするとAverage of 5 (Mean of 3)の試技ができます。" %}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h5>{% trans "カットオフ" %}</h5>
        <div class="mb-4">
          <div>{% trans "形式にBest of X / Average of 5 (Mean of 3)と記載されます。" %}</div>
          <div>{% trans "Best of Xでカットオフをクリアした場合にAverage of 5 (Mean of 3)での試技を行うことができます。" %}</div>
        </div>
        <h5>{% trans "制限時間" %}</h5>
        <div class="mb-3">
          <div>{% trans "各試技において制限時間をクリアできない場合、試技はDNFになります。" %}</div>
          <div>{% trans "累積Xの制限時間はその時間内ですべての試技を終わらせる必要があり、パズルの完成を問わず制限時間は累積されます。" %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
