{% extends "app/base.html" %}
{% load competition_logo %}
{% load event_name %}
{% load event_id_name %}
{% load static %}

{% block content %}
{% with path=competition|competition_logo %}
  <h4 class="ml-2 mb-3"><img class="mr-2" width="30" src="{% static path %}">{{ competition.name }}</h4>
{% endwith %}
{% include "app/notification.html" %}

<div class="row mb-3">
  <div class="col-sm-3 mb-3">
    {% include "app/competition/menu.html" with active='fee' %}
  </div>
  <div class="col-sm-9">
    <div class="card mb-3">
      <div class="card-header lead">
        参加費支払い方法
      </div>
      <div class="card-body">
        {% if competition.fee_pay_type == fee_pay_type.LOCAL_ONLY.value %}
          現地支払いにのみ対応しております。なるべくお釣りのでないよう事前にご準備下さい。
        {% elif competition.fee_pay_type == fee_pay_type.LOCAL_AND_REMOTE.value %}
          現地支払いならびに事前支払いに対応しております。事前支払いを推奨します。
        {% elif competition.fee_pay_type == fee_pay_type.REMOTE_ONLY.value %}
          事前支払いにのみ対応しております。事前にお支払いいただけないと大会参加が承認されません。
        {% endif %}
      </div>
    </div>
    {% if competitor and competition.fee_pay_type != fee_pay_type.LOCAL_ONLY.value %}
      {% if competitor and competitor.status != competitor_status.CANCEL.value %}
        <div class="card mb-3">
          <div class="card-header text-white bg-dark lead">
            参加費支払い{% if is_superuser and not competition.is_payment %}<span class="text-danger font-weight-bold">&nbsp;(デバッグモード)</span>{% endif %}
          </div>
          <div class="card-body">
            {% if not is_payment %}
              <h5>参加費の支払いを停止中です。</h5>
            {% elif not paid %}
              <h5 class="mb-2">計&nbsp;{{ price }}円</h5>
              <button type="button" class="btn bg-dark text-white" id="checkout">支払う</button>
            {% else %}
              <h5 class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>支払い済み</h5>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}
    <div class="card">
      <ul class="list-group">
        {% for item, price in fees.items %}
          <li class="{% if item == 0 %}card-header lead{% endif %} list-group-item">
            <span>{% if item == 0 %}基本料金{% else %}<span class="cubing-icon event-{{ item | event_id_name }} mr-2 md-2 h5"></span>{{ item | event_name }}{% endif %}{% if competition.fee_calc_type == fee_calc_type.EVENT_COUNT.value and item != 0 %}種目{% endif %}
            </span>
            <span class="float-right">{% if item != 0 %}+{% endif %}{{ price }}円</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('{{ stripe_public_key }}', {
    stripeAccount: '{{ stripe_user_id }}'
  });
  var checkoutButton = document.getElementById("checkout");

  checkoutButton.addEventListener("click", function () {
    const data = { competition_id: '{{ competition.id }}'};
    fetch("{% url 'stripe_create' %}", {
      method: "POST",
      headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json; charset=UTF-8',
          'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify(data)
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function (result) {
      // If redirectToCheckout fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using error.message.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });
  });
</script>
{% endblock %}