{% extends "app/common/base.html" %}
{% load event_name %}
{% load event_id_name %}
{% load rest_time %}
{% load strip %}
{% load i18n %}


{% block content %}
{% include "app/common/competition_title.html" %}
{% include "app/common/notification.html" %}
{% if admin_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in admin_errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

<div class="row mb-3">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='fee' %}
  </div>
  <div class="col-lg-10">
    {% if competition.fee_pay_type == fee_pay_type.LOCAL_AND_REMOTE.value %}
      {% if competition.fee_pay_close_at > now %}
        <div class="alert alert-info" role="alert">
          {% blocktrans with rest_time=fee_pay_close_at_timedelta|rest_time date=competition.fee_pay_close_at|date:"Y年m月d日 H:i:s" %}事前支払い期日は&nbsp;{{ rest_time }}後&nbsp;{{ date }}です。{% endblocktrans %}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          {% blocktrans with rest_time=fee_pay_close_at_timedelta|rest_time date=competition.fee_pay_close_at|date:"Y年m月d日 H:i:s" %}事前支払い期日は&nbsp;{{ rest_time }}前&nbsp;{{ date }}に終了しました。{% endblocktrans %}
        </div>
      {% endif %}
    {% endif %}
    <div class="card mb-3">
      <div class="card-header lead">
        {% trans "参加費支払い方法" %}
      </div>
      <div class="card-body">
        {% if competition.fee_pay_type == fee_pay_type.LOCAL_ONLY.value %}
          {% trans "現地支払いにのみ対応しております。なるべくお釣りのでないよう事前にご準備下さい。" %}
        {% elif competition.fee_pay_type == fee_pay_type.LOCAL_AND_REMOTE.value %}
          {% trans "事前支払いならびに現地支払いに対応しております。事前支払いを推奨します。" %}
        {% elif competition.fee_pay_type == fee_pay_type.REMOTE_ONLY.value %}
          {% trans "事前支払いにのみ対応しております。事前にお支払いいただけないと大会参加が承認されません。" %}
        {% endif %}
      </div>
    </div>
    {% if competition.fee_pay_type != fee_pay_type.LOCAL_ONLY.value %}
      <div class="card mb-3">
        <div class="card-header lead">
          {% trans "返金ポリシー" %}
        </div>
        <div class="card-body">
          {% if not competition.refund_description_en %}
            {{ competition.refund_description | strip | safe }}
          {% elif request.LANGUAGE_CODE == 'en' %}
            {{ competition.refund_description_en | strip | safe }}
          {% else %}
            {{ competition.refund_description | strip | safe }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if competition.fee_pay_type == fee_pay_type.LOCAL_AND_REMOTE.value %}
      <div class="card mb-3">
        <div class="card-header text-white bg-dark lead">
          {% trans "参加費支払い" %}{% if is_superuser and not competition.is_payment %}<span class="text-danger font-weight-bold">&nbsp;({% trans "デバッグモード" %})</span>{% endif %}
        </div>
        <div class="card-body">
          {% if not prepaid_fees or not fees %}
            <h5>料金マスタが設定されていません。</h5>
          {% elif not request.user.is_authenticated %}
            {% url "login" as login_url %}
            <h5>{% blocktrans with login_url=login_url path=request.path %}参加費を支払うには<a href="{{ login_url }}?next={{ path }}">ログイン</a>してください。{% endblocktrans %}</h5>
          {% elif not competitor or competitor.status == competitor_status.CANCEL.value %}
            {% url "competition_registration" competition.name_id as registration_url %}
            <h5>{% blocktrans with registration_url=registration_url %}参加費の支払いは大会の<a href="{{ registration_url }}">申し込み</a>後に可能です。{% endblocktrans %}</h5>
          {% elif competition.fee_pay_type == fee_pay_type.LOCAL_ONLY.value %}
            <h5>{% trans "現地支払いにのみ対応しております。なるべくお釣りのでないよう事前にご準備下さい。" %}</h5>
          {% elif competitor.status == competitor_status.PENDING.value %}
            <h5>{% trans "申し込みが承認されていないため、参加費を支払うことはできません。" %}</h5>
          {% elif not is_payment %}
            <h5>{% trans "参加費の支払いを停止中です。" %}</h5>
          {% elif not is_paid %}
            {% if competition.fee_pay_close_at <= now %}
              <h5>{% trans "支払い期日を過ぎています。" %}</h5>
            {% else %}
              <h3 class="mb-3">{% trans "計" %}&nbsp;{{ price }}&nbsp;{% trans "円" %}</h3>
              <div class="mb-2"><button type="button" class="btn bg-primary text-white" id="checkout">{% trans "支払う" %}</button></div>
              <div id="error" class="text-danger font-weight-bold"></div>
            {% endif %}
          {% elif is_paid %}
            <h5 class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>{% trans "支払い済み" %}</h5>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if prepaid_fees or fees %}
      <div class="card-deck mb-5">
        {% if competition.fee_pay_type != fee_pay_type.LOCAL_ONLY.value %}
          {% if competition.fee_calc_type == fee_calc_type.EVENT.value %}
            <div class="card">
              <ul class="list-group">
                {% for item, price in prepaid_fees.items %}
                  <li class="{% if item == 0 %}card-header lead{% endif %} list-group-item">
                    <span>
                      {% if item == 0 %}
                        {% if competition.fee_pay_type == fee_pay_type.REMOTE_ONLY.value %}
                          {% trans "支払い料金" %}
                        {% elif competition.fee_pay_type == fee_pay_type.LOCAL_AND_REMOTE.value %}
                          {% trans "事前支払い料金" %}
                        {% endif %}
                      {% else %}
                        <span class="cubing-icon event-{{ item | event_id_name }} mr-2 md-2 h5"></span>{{ item | event_name }}
                      {% endif %}
                    </span>
                    <span class="float-right">{% if item != 0 %}+{% endif %}{{ price }}&nbsp;{% trans "円" %}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% elif competition.fee_calc_type == fee_calc_type.EVENT_COUNT.value %}
            <div class="card">
              <ul class="list-group">
                {% for item, price in prepaid_fees.items %}
                  <li class="{% if item == 0 %}card-header lead{% endif %} list-group-item">
                    <span>
                      {% if item == 0 %}
                        {% if competition.fee_pay_type == fee_pay_type.REMOTE_ONLY.value %}
                          {% trans "支払い料金" %}
                        {% elif competition.fee_pay_type == fee_pay_type.LOCAL_AND_REMOTE.value %}
                          {% trans "事前支払い料金" %}
                        {% endif %}
                      {% else %}
                        {{ item }}&nbsp;{% trans "種目" %}
                      {% endif %}
                    </span>
                    {% if price != 0 %}<span class="float-right">{{ price }}&nbsp;{% trans "円" %}</span>{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
        {% if competition.fee_pay_type != fee_pay_type.REMOTE_ONLY.value %}
          {% if competition.fee_calc_type == fee_calc_type.EVENT.value %}
            <div class="card">
              <ul class="list-group">
                {% for item, price in fees.items %}
                  <li class="{% if item == 0 %}card-header lead{% endif %} list-group-item">
                    <span>{% if item == 0 %}{% trans "現地支払い料金" %}{% else %}<span class="cubing-icon event-{{ item | event_id_name }} mr-2 md-2 h5"></span>{{ item | event_name }}{% endif %}{% if competition.fee_calc_type == fee_calc_type.EVENT_COUNT.value and item != 0 %}{% trans "種目" %}{% endif %}
                    </span>
                    <span class="float-right">{% if item != 0 %}+{% endif %}{{ price }}&nbsp;{% trans "円" %}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% elif competition.fee_calc_type == fee_calc_type.EVENT_COUNT.value %}
            <div class="card">
              <ul class="list-group">
                {% for item, price in fees.items %}
                  <li class="{% if item == 0 %}card-header lead{% endif %} list-group-item">
                    <span>{% if item == 0 %}{% trans "現地支払い料金" %}{% else %}{{ item }}&nbsp;{% trans "種目" %}{% endif %}
                    </span>
                    {% if price != 0 %}<span class="float-right">{{ price }}&nbsp;{% trans "円" %}</span>{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('{{ stripe_public_key }}', {
    stripeAccount: '{{ stripe_user_id }}'
  });
  var checkoutButton = document.getElementById("checkout");

  checkoutButton.addEventListener("click", function () {
    const data = { competition_id: '{{ competition.id }}'};
    fetch("{% url 'stripe_create' %}", {
      method: "POST",
      headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json; charset=UTF-8',
          'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify(data)
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (session) {
      if (session['error']) {
        document.getElementById("error").textContent=session['error'];
        return session['error'];
      }
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function (result) {
      // If redirectToCheckout fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using error.message.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });
  });
</script>
{% endblock %}