{% load i18n %}

<div class="list-group mb-3">
  <a href="{% url 'competition_detail' competition.name_id %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'detail' %}active{% endif %}"><i class="fas fa-info-circle fa-fw mr-2"></i>{% trans "基本情報" %}</button></a>
  {% if not competition.is_cancel %}
    {% if has_results %}
      <a href="{% url 'competition_result' competition.name_id %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'result' %}active{% endif %}"><i class="fas fa-list-ol fa-fw mr-2"></i>{% trans "結果" %}</button></a>
    {% elif competition.is_finish and competition.type == competition_type.WCA.value %}
      <a href="https://www.worldcubeassociation.org/competitions/{{ competition.name_id }}"><button type="button" class="list-group-item list-group-item-action {% if active == 'fee' %}active{% endif %}"><i class="fas fa-list-ol fa-fw mr-2"></i>{% trans "結果" %}</button></a>
    {% elif not competition.is_finish %}
      <a href="{% url 'competition_fee' competition.name_id %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'fee' %}active{% endif %}"><i class="fas fa-yen-sign fa-fw mr-2"></i>{% trans "参加費" %}</button></a>
      <a href="{% url 'competition_event' competition.name_id %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'round' %}active{% endif %}"><i class="fas fa-trophy fa-fw mr-2"></i>{% trans "イベント" %} </button></a>
      <a href="{% url 'competition_registration' competition.name_id %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'registration' %}active{% endif %}"><i class="fas fa-sign-in-alt fa-fw mr-2"></i>{% trans "申し込み" %}</button></a>
      {% if not competition.is_registration_at_other %}
        <a href="{% url 'competition_competitor' competition.name_id 'list' %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'competitor' %}active{% endif %}"><i class="fas fa-users fa-fw mr-2"></i>{% trans "競技者" %}</button></a>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if is_superuser and not competition.is_registration_at_other %}
    <a class="text-dark" href="{% url 'competition_admin_index' competition.name_id %}">
      <li class="list-group-item d-flex justify-content-between {% if active == 'admin' %}active{% endif %} align-items-center">
        <span><i class="fas fa-cog mr-2 fa-fw"></i>管理</span>{% if pending_competitor_count > 0 %}<span class="badge badge-dark badge-pill">{{ pending_competitor_count }}</span>{% endif %}
      </li>
    </a>
  {% endif %}
  {% if is_refunder and competition.fee_pay_type != fee_pay_type.LOCAL_ONLY.value %}
    <a href="{% url 'competition_admin_refund' competition.name_id %}"><button type="button" class="list-group-item list-group-item-action {% if active == 'refund' %}active{% endif %}"><i class="fas fa-undo-alt fa-fw mr-2"></i>返金</button></a>
  {% endif %}
</div>

{% if competition.type == competition_type.WCA.value %}
  <div class="list-group mb-3">
    <form method="POST" id="language_select" action="{% url 'set_language' %}">
      {% csrf_token %}
      {% if LANGUAGE_CODE == 'en' %}
        <input name="language" type="hidden" value="ja">
      {% else %}
        <input name="language" type="hidden" value="en">
      {% endif %}
      <button type="button" class="language list-group-item list-group-item-action"><i class="fas fa-language mr-2"></i>{% if LANGUAGE_CODE == 'en' %}日本語{% else %}English{% endif %}</button></a>
    </form>
  </div>
{% endif %}

{% if user.is_superuser %}
  <div class="list-group mb-3">
    {% if competition.is_private %}
      <button type="button" class="bg-warning text-white list-group-item list-group-item-action" data-toggle="modal" data-target="#hidden"><i class="far fa-eye-slash fa-fw mr-2"></i>非表示</button>
      <button type="button" class="bg-success text-white list-group-item list-group-item-action" data-toggle="modal" data-target="#publish"><i class="far fa-eye fa-fw mr-2"></i>公開</button>
    {% elif not competition.is_display %}
      <button type="button" class="bg-success text-white list-group-item list-group-item-action" data-toggle="modal" data-target="#publish"><i class="far fa-eye fa-fw mr-2"></i>公開</button>
    {% endif %}
  </div>

  {% if competition.is_private or not competition.is_display %}
    <div class="modal fade" id="hidden" tabindex="-1" role="dialog" aria-labelledby="hiddenModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">大会の非表示</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&#10005;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>大会の非表示を行います。これはやり直すことはできません。</div>
            <div>この操作を行うことにより、公開はされませんがURLにて直接アクセスが可能になります。</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <form method="POST" action="{% url 'competition_admin_hidden' competition.name_id %}">
              {% csrf_token %}
              <button type="submit button" class="btn btn-warning"><i class="far fa-eye-slash fa-fw mr-2"></i>非表示</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="publish" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">大会の公開</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&#10005;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>大会の公開を行います。これはやり直すことはできません。</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <form method="POST" action="{% url 'competition_admin_publish' competition.name_id %}">
              {% csrf_token %}
              <button type="submit button" class="btn btn-success"><i class="far fa-eye fa-fw mr-2"></i>公開</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
