{% if rate <= 25 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% elif rate <= 50 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% elif rate <= 75 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% elif rate <= 100 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endif %}