{% if rate <= 25 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ rate }}%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% elif rate <= 50 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ rate }}%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% elif rate <= 75 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ rate }}%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% elif rate <= 100 %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ rate }}%" aria-valuenow="{{ rate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endif %}