{% extends "app/base.html" %}
{% load competition_logo %}
{% load static %}

{% block content %}
{% with path=competition|competition_logo %}
  <h4 class="ml-2 mb-3"><img class="mr-2" width="30" src="{% static path %}">{{ competition.name }}</h4>
{% endwith %}

<div class="row mb-3">
  <div class="col-sm-3 mb-3">
    {% include "app/competition/menu.html" with active='round' %}
  </div>
  <div class="col-sm-9">
    <ul class="list-group mb-5">
      {% for round in rounds %}
        <li class="card-header lead list-group-item">
          {% if round.event_id != 0 %}
            <span>{{ round.get_event_id_display }}&nbsp;{{ round.get_type_display }}{% if round.event_id == consts.EVENT_ID_FMC %}&nbsp;(第{{ round.attempt_count }}試技){% endif %}</span>
          {% else %}
            <span>{{ round.event_name }}</span>
          {% endif %}
          <span class="float-right">{{ round.room_name }}</span>
        </li>
        <li class="list-group-item">
          <span>予定時刻</span>
          <span class="float-right">{{ round.begin_at | date:"H:i"}} - {{ round.end_at | date:"H:i"}}</span>
        </li>
        {% if round.event_id != 0 %}
          <li class="list-group-item">
            <span>競技形式</span>
            <span class="float-right">{{ round.get_format_id_display }}</span>
          </li>
          <li class="list-group-item">
            <span>制限タイム<a href="" data-toggle="modal" data-target="#limit">*</a></span>
            <span class="float-right">
              {% if round.limit_time > 0 %}
                {% if round.limit_type == consts.ROUND_LIMIT_TYPE_CUMULATIVE %}累計{% endif %}{{ round.limit_time }}秒
              {% else %}
                n/a
              {% endif %}</span>
          </li>
          <li class="list-group-item">
            <span>カットオフ<a href="" data-toggle="modal" data-target="#cutoff">*</a></span>
            <span class="float-right">
              {% if round.cutoff_time > 0 %}
                最初の{{ round.cutoff_attempt_count }}試技までに{{ round.cutoff_time }}秒未満
              {% else %}
                n/a
              {% endif %}</span>
          </li>
          {% if round.proceed_count > 0 %}
            <li class="list-group-item">
              <span>進出人数</span>
              <span class="float-right">上位{{ round.proceed_count }}名が次のラウンドに進出</span>
            </li> 
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="modal fade" id="limit" tabindex="-1" role="dialog" aria-labelledby="limitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">制限タイム</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>試技中に制限タイムを超過した場合、ジャッジは試技を中断し、その試技の記録はDNF(記録なし)となります(<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#A1a4" target="_blank">大会規則A1a4</a>参照)。</div>
        <div>累積制限タイムが採用される場合があります(<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#A1a2" target="_blank">大会規則A1a2</a>参照)。</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cutoff" tabindex="-1" role="dialog" aria-labelledby="cutoffModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">カットオフ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>最初の指定された回数の試技までに基準タイムを超えない場合、残りの試技を行うことができません(<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#9g" target="_blank">大会規則9g</a>参照)。</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}