{% extends "app/base.html" %}
{% load competition_logo %}
{% load event_name %}
{% load event_id_name %}
{% load static %}

{% block content %}
{% with path=competition|competition_logo %}
  <h4 class="ml-2 mb-3"><img class="mr-2" width="30" src="{% static path %}">{{ competition.name }}</h4>
{% endwith %}

<div class="row mb-3">
  <div class="col-sm-3 mb-3">
    {% include "app/competition/menu.html" with active='round' %}
  </div>
  <div class="col-sm-9">
    <div class="row ml-3 mb-3">
      {% for event_id, round_count in event_round_count_dict.items %}
        <div class="col-lg-3 col-md-5 col-xs-6">
          <input class="pt-3 competition_schedule_event" type="checkbox" value="{{ event_id }}">
          <span class="cubing-icon event-{{ event_id | event_id_name }} h1"></span>&nbsp;{{ round_count}}ラウンド
        </div>
      {% endfor %}
    </div>
    {% for date, room in round_dict.items %}
      <div class="card mb-5">
        <div class="card-header lead">
          {{ date }}
        </div>
        <div class="card-body">
          {% for room_name, rounds in room.items %}
            <h5>{{ room_name }}</h5>
            <div class="mb-3 text-nowrap table-responsive">
              <table class="table table-hover table-bordered competition-schedule">
                  <thead>
                    <tr class="bg-dark text-white">
                      <th scope="col">開始</th>
                      <th scope="col">終了</th>
                      <th scope="col">種目</th>
                      <th scope="col">ラウンド</th>
                      <th scope="col">形式</th>
                      <th scope="col">カットオフ<a href="" class="text-danger" data-toggle="modal" data-target="#cutoff">*</a></th>
                      <th scope="col">制限<a href="" class="text-danger" data-toggle="modal" data-target="#limit">*</a></th>
                      <th scope="col">進出人数</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for round in rounds %}
                      <tr round_type="{{ round.type }}" id="{{ round.event_id }}_round">
                        <td>{{ round.begin_at | date:"H:i" }}</td>
                        <td>{{ round.end_at | date:"H:i" }}</td>
                        <td>
                          {% if round.event_id == 0 %}
                            {{ round.event_name }}
                          {% else %}
                            <span class="cubing-icon event-{{ round.event_id | event_id_name }} mr-2 md-2 h5"></span>{{ round.event_id | event_name }}
                          {% endif %}
                        </td>
                        <td>{% if round.type > 0 %}{{ round.get_type_display }}{% endif %}</td>
                        <td>{% if round.cutoff_attempt_count > 0 %}Best of {{ round.cutoff_attempt_count }}/{% endif %}{% if round.format_id > 0 %}{{ round.get_format_id_display }}{% endif %}{% if round.attempt_count > 0 %}&nbsp;({{ round.attempt_count }}試技目){% endif %}</td>
                        <td>{% if round.cutoff_time > 0 %}{{ round.cutoff_time }}秒{% endif %}</td>
                        <td>{% if round.limit_time > 0 %}{{ round.limit_time }}秒{% endif %}</td>
                        <td>{% if round.proceed_count > 0 %}{{ round.proceed_count }}人{% endif %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="limit" tabindex="-1" role="dialog" aria-labelledby="limitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">制限タイム</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>試技中に制限タイムを超過した場合、ジャッジは試技を中断し、その試技の記録はDNF(記録なし)となります(<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#A1a4" target="_blank">大会規則A1a4</a>参照)。</div>
        <div>累積制限タイムが採用される場合があります(<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#A1a2" target="_blank">大会規則A1a2</a>参照)。</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cutoff" tabindex="-1" role="dialog" aria-labelledby="cutoffModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">カットオフ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>最初の指定された回数の試技までに基準タイムを超えない場合、残りの試技を行うことができません(<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#9g" target="_blank">大会規則9g</a>参照)。</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}