<h4>
<a id="user-content-スピードキュービングジャパン公認大会及びスピードキュービングジャパン審判員に関する規程" class="anchor" href="#%E3%82%B9%E3%83%94%E3%83%BC%E3%83%89%E3%82%AD%E3%83%A5%E3%83%BC%E3%83%93%E3%83%B3%E3%82%B0%E3%82%B8%E3%83%A3%E3%83%91%E3%83%B3%E5%85%AC%E8%AA%8D%E5%A4%A7%E4%BC%9A%E5%8F%8A%E3%81%B3%E3%82%B9%E3%83%94%E3%83%BC%E3%83%89%E3%82%AD%E3%83%A5%E3%83%BC%E3%83%93%E3%83%B3%E3%82%B0%E3%82%B8%E3%83%A3%E3%83%91%E3%83%B3%E5%AF%A9%E5%88%A4%E5%93%A1%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E8%A6%8F%E7%A8%8B" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>スピードキュービングジャパン公認大会及びスピードキュービングジャパン審判員に関する規程</h4>
<p> Version 2021年5月16日</p>
<h4>
<a id="user-content--第1条-目的" class="anchor" href="#-%E7%AC%AC1%E6%9D%A1-%E7%9B%AE%E7%9A%84" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第1条: 目的</h4>
<p>本規程は、スピードキュービングジャパン（以下、「SCJ」とする）の理念を実現するため、スピードキュービングジャパン審判員（以下、「SCJ審判員」とする）により監督されるスピードキュービングジャパン公認大会（以下、「SCJ大会」とする）に関する事項を定めたものである。</p>
<h4>
<a id="user-content--第2条-scj審判員" class="anchor" href="#-%E7%AC%AC2%E6%9D%A1-scj%E5%AF%A9%E5%88%A4%E5%93%A1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第2条: SCJ審判員</h4>
<ul>
<li>2a) SCJ審判員は、以下の条件を満たした者である。
<ul>
<li>2a1) SCJの理念を理解し、これを遂行できる者。</li>
<li>2a2) 第4条に定められる年間登録費をSCJに納付した者。</li>
<li>2a3) SCJが定める「SCJ審判員宣誓書」（以下「宣誓書」という）をSCJに提出した者。</li>
<li>2a4) World Cube Association（以下、「WCA」という）の公式大会及びSCJ大会に過去10回以上出場した者。</li>
<li>2a5) 年間のべ50人以上参加するスピードキュービングに関わる組織の運営に関わっている者。</li>
<li>2a6) キューブ文化の普及に著しく貢献し、かつSCJ審判員の素養が認められるとSCJ大会担当のSCJ役員が認定した者。</li>
</ul>
</li>
<li>2b) 2a4及び規定2a5の条件を満たしていない者であっても、過半数のSCJ役員が賛成する場合に限り、SCJ審判員の資格を有することができる。</li>
</ul>
<h4>
<a id="user-content--第3条-scj審判員の任期" class="anchor" href="#-%E7%AC%AC3%E6%9D%A1-scj%E5%AF%A9%E5%88%A4%E5%93%A1%E3%81%AE%E4%BB%BB%E6%9C%9F" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第3条: SCJ審判員の任期</h4>
<ul>
<li>3a) SCJ審判員の任期は会計年度の始期日から終了日までの1年間である。会計年度の途中から任期を開始することもできる。</li>
<li>3b) 第6条に定めるSCJ審判員の解任事由が発生した場合、会計年度途中であっても任期は終了する</li>
</ul>
<h4>
<a id="user-content--第4条-scj審判員の年間登録費" class="anchor" href="#-%E7%AC%AC4%E6%9D%A1-scj%E5%AF%A9%E5%88%A4%E5%93%A1%E3%81%AE%E5%B9%B4%E9%96%93%E7%99%BB%E9%8C%B2%E8%B2%BB" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第4条: SCJ審判員の年間登録費</h4>
<ul>
<li>4a) SCJ審判員は、SCJ役員が別途定める年間登録費を納付しなければならない。</li>
<li>4b) 第7条によりSCJ審判員が解任された場合であっても年間登録費は返金されない。ただし、SCJ審判員の熱意や意向にかかわらず、SCJ大会を開催できない事由が会った場合に限り、SCJ役員の承認の下、年間登録費が返金される場合がある。</li>
</ul>
<h4>
<a id="user-content--第5条-scj審判員の義務" class="anchor" href="#-%E7%AC%AC5%E6%9D%A1-scj%E5%AF%A9%E5%88%A4%E5%93%A1%E3%81%AE%E7%BE%A9%E5%8B%99" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第5条: SCJ審判員の義務</h4>
<ul>
<li>5a) SCJ審判員は以下の義務を負う。
<ul>
<li>5a1) SCJ審判員は公序良俗に反する行為を行ってはならない。</li>
<li>5a2) SCJ審判員はSCJの理念に反する行為を行ってはならない。</li>
<li>5a3) SCJ審判員は個人情報を適法且つ適正に取り扱わなければならない。</li>
</ul>
</li>
</ul>
<h4>
<a id="user-content--第6条-scj審判員の解任" class="anchor" href="#-%E7%AC%AC6%E6%9D%A1-scj%E5%AF%A9%E5%88%A4%E5%93%A1%E3%81%AE%E8%A7%A3%E4%BB%BB" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第6条: SCJ審判員の解任</h4>
<ul>
<li>6a) SCJ審判員は以下の場合に解任される。なお6a2及び6a3に該当するか否かはSCJ役員の過半数の賛成をもって決議される。
<ul>
<li>6a1) SCJ審判員自らが解任を希望する場合。</li>
<li>6a2) SCJ審判員が第2条に規定されるSCJ審判員の条件を満たしていないことが判明した場合。</li>
<li>6a3) SCJ審判員が第5条に記載されている義務を履行しなかった場合。</li>
</ul>
</li>
</ul>
<h4>
<a id="user-content--第7条-大会" class="anchor" href="#-%E7%AC%AC7%E6%9D%A1-%E5%A4%A7%E4%BC%9A" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第7条: 大会</h4>
<ul>
<li>7a) SCJ審判員は、「WCA」を「SCJ」と読みかえられたWCA大会規則及びWCAガイドラインの考え方に準じたSCJ大会を開催しなければならない。</li>
<li>7b) SCJ審判員は、そのSCJ大会の目的と背景を考慮してWCA大会規則及びWCAガイドラインと異なる形式・制限等を設けてSCJ大会を開催することができるが、8a1の大会開催申請フォーマットにその異なる形式・制限等の詳細を記載しなければならない。SCJ大会担当のSCJ理事は、申請された異なる形式・制限等の内容がSCJ大会として相応しいものか否かを判断し、相応しくないものと判断された場合はSCJ大会の開催を中止にすることができる。</li>
</ul>
<h4>
<a id="user-content--第8条-大会開催" class="anchor" href="#-%E7%AC%AC8%E6%9D%A1-%E5%A4%A7%E4%BC%9A%E9%96%8B%E5%82%AC" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第8条: 大会開催</h4>
<ul>
<li>8a) SCJ審判員は、以下の手続きを経てSCJ公認大会を開催することができる。
<ul>
<li>8a1) SCJ審判員は、SCJ大会の三週間前までにSCJに大会を開催する旨を、大会開催申請フォーマットに従いSCJに通知する。</li>
<li>8a2) SCJ審判員はSCJ大会が適正に進行するように努める。</li>
<li>8a3) SCJ審判員はSCJ公認大会終了後一週間以内に、大会報告フォーマットに基づく大会報告をSCJにしなければならない。</li>
</ul>
</li>
</ul>
<h4>
<a id="user-content--第9条-参加費" class="anchor" href="#-%E7%AC%AC9%E6%9D%A1-%E5%8F%82%E5%8A%A0%E8%B2%BB" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第9条: 参加費</h4>
<ul>
<li>9a) SCJ審判員は、SCJ公認大会の競技者に対して参加費を請求することができる。</li>
<li>9b) 参加費の額はSCJ大会が適正に運営できる合理的な額でなければならない。</li>
<li>9c) 合理的な範囲内で、参加費の一部を別に開催されるSCJ大会で使用することができる。</li>
<li>9d) 一競技者当たりの参加費は1,000円を超えないことが望ましい。競技の開催にあたり、一競技者当たり1,000円を超える参加費が必要な場合は、その参加費が適正であることを競技者に伝えなければならない。</li>
</ul>
<h4>
<a id="user-content--第10条-納付金" class="anchor" href="#-%E7%AC%AC10%E6%9D%A1-%E7%B4%8D%E4%BB%98%E9%87%91" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第10条: 納付金</h4>
<ul>
<li>10a) SCJ審判員は、競技者一人当たり100円をSCJ大会終了後1か月以内にSCJに納付しなければならない。</li>
</ul>
<h4>
<a id="user-content--第11条-scj大会の制限" class="anchor" href="#-%E7%AC%AC11%E6%9D%A1-scj%E5%A4%A7%E4%BC%9A%E3%81%AE%E5%88%B6%E9%99%90" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第11条: SCJ大会の制限</h4>
<ul>
<li>11a) SCJ審判員は競技者の属性（例：年齢、性別）による参加制限を設けたSCJ大会を開催することはできるが、その参加制限が社会通念上許容されるものか否かを慎重に判断しなくてはならない。</li>
<li>11b) SCJ審判員は年間12回よりも多いSCJ大会、及び各月に複数回のSCJ大会を開催することはできない。ただしSCJ大会担当のSCJ役員が認める場合は、その限りではない。</li>
</ul>
<h4>
<a id="user-content--第12条-記録の公開" class="anchor" href="#-%E7%AC%AC12%E6%9D%A1-%E8%A8%98%E9%8C%B2%E3%81%AE%E5%85%AC%E9%96%8B" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第12条: 記録の公開</h4>
<ul>
<li>12a) SCJ及びSCJ審判員は、SCJ大会の記録（競技者の個人情報を含む）を公開することができる。またSCJは、スピードキュービングの健全な普及と発展に必要な場合は、第三者にSCJ大会の記録を提供することができる。</li>
<li>12b) 競技者は、12aの規定を正しく理解した上で、SCJ大会に参加しなければならない。</li>
</ul>
<h4>
<a id="user-content--第13条-記録の登録" class="anchor" href="#-%E7%AC%AC13%E6%9D%A1-%E8%A8%98%E9%8C%B2%E3%81%AE%E7%99%BB%E9%8C%B2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第13条: 記録の登録</h4>
<ul>
<li>13a) SCJはデータベースに登録されている情報及びそれを加工したデータ（ランキング等）を公開することができる。またスピードキュービングの健全な普及と発展に必要な場合は、SCJは第三者にデータベースに登録されている情報及びそれを加工したデータを提供することができる。</li>
<li>13b) 不正行為等が後日判明した場合は、SCJはデータベースに登録されているSCJ大会記録を訂正、削除することができる。</li>
</ul>
<h4>
<a id="user-content--第14条-規定の解釈" class="anchor" href="#-%E7%AC%AC14%E6%9D%A1-%E8%A6%8F%E5%AE%9A%E3%81%AE%E8%A7%A3%E9%87%88" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第14条: 規定の解釈</h4>
<ul>
<li>14a) 本規程の解釈について疑義を生じた場合は、SCJ理事における協議の上、これを決定する。</li>
</ul>
<h4>
<a id="user-content--第15条-改正廃止" class="anchor" href="#-%E7%AC%AC15%E6%9D%A1-%E6%94%B9%E6%AD%A3%E5%BB%83%E6%AD%A2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 第15条: 改正・廃止</h4>
<ul>
<li>15a) 本規程の改正又は廃止は、SCJ役員の決裁を経なければならない。</li>
</ul>
