{% load i18n %}


{% if competitor.status == competitor_status.PENDING.value %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{% trans "あなたの申し込みは承認待ちです。" %}</strong>
  </div>
{% elif competitor.status == competitor_status.REGISTRATION.value %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{% trans "あなたの申し込みは承認されました。" %}</strong>
  </div>
{% elif competitor.status == competitor_status.CANCEL.value %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{% trans "あなたの申し込みはキャンセルされました。" %}</strong>
  </div>
{% endif %}