{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load competition_logo %}
{% load event_name %}
{% load event_id_name %}
{% load static %}
{% load sum_attribute_param %}

{% block content %}
{% include "app/common/competition_title.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='admin' %}
  </div>
  <div class="col-lg-10 mb-3">
    {% include "app/common/notification.html" %}
    <form action="" method="POST">
      {% csrf_token %}
      {% if pending_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-warning text-white lead">
            未承認&nbsp;({{ pending_competitors | length }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="pending" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" class="competition_admin_all_pending competition_admin_checkbox" /></th>
                  <th scope="col"></th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>#</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>SCJ 氏名</th>
                  <th data-toggle="tooltip" data-placement="auto" title="{{ pending_competitors | sum_attribute_param:'guest_count' }}名" scope="col"><i class="fas fa-sort mr-2"></i>同伴数</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>支払額</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>申込日時</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in pending_competitors %}
                  <tr {% if remaining_registration_count > 0 and remaining_registration_count <= forloop.counter0 %}class="table-danger"{% endif %} data-toggle="tooltip" data-placement="auto" title="{{ competitor.comment }}">
                    <td><input type="checkbox" class="competition_admin_pending competition_admin_checkbox" name="competitor_id_{{ competitor.id }}" value="{{ competitor.id }}" data-email="{{ competitor.person.wca_email }}">
                    <td><a href="{% url 'competition_admin_competitor' competition.name_id competitor.id %}">編集</a></td>
                    <td>{{ competitor.registration_number }}</td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td>
                      <span class="flag-icon flag-icon-{{ competitor.person.wca_country_iso2 | lower }} mr-2"></span>
                      <a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>
                      {% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}
                      {% if competitor.is_duplicated_series_competitions %}<i class="fas fa-bomb ml-1"></i>{% endif %}
                      {% if competitor.is_diffrence_event_and_price %}<i class="fas fa-money-check ml-1"></i>{% endif %}
                      {% if not competitor.person.wca_birth_at %}<i class="fas fa-birthday-cake ml-1"></i>{% endif %}
                    </td>
                    <td><a href="mailto:{{ competitor.person.user.email }}">{{ competitor.person.get_full_name }}</a>
                    <td>{{ competitor.guest_count }}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_price }}円{% if competitor.stripe_progress.refund_price > 0 %}&nbsp;<i class="fas fa-undo fa-fw"></i>{{ competitor.stripe_progress.refund_price }}円{% endif %}{% endif %}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if registration_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-success text-white lead">
            承認済み&nbsp;({{ registration_competitors | length }}/{{ competition.limit }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="registration" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" class="competition_admin_all_admit competition_admin_checkbox" /></th>
                  <th scope="col"></th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>#</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>SCJ 氏名</th>
                  <th data-toggle="tooltip" data-placement="auto" title="{{ registration_competitors | sum_attribute_param:'guest_count' }}名" scope="col"><i class="fas fa-sort mr-2"></i>同伴数</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>支払額</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>申込日時</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in registration_competitors %}
                  <tr data-toggle="tooltip" data-placement="auto" title="{{ competitor.comment }}">
                    <td><input type="checkbox" class="competition_admin_admit competition_admin_checkbox" name="competitor_id_{{ competitor.id }}" value="{{ competitor.id }}" data-email="{{ competitor.person.wca_email }}">
                    <td><a href="{% url 'competition_admin_competitor' competition.name_id competitor.id %}">編集</a></td>
                    <td>{{ competitor.registration_number }}</td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td>
                      <span class="flag-icon flag-icon-{{ competitor.person.wca_country_iso2 | lower }} mr-2"></span>
                      <a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>
                      {% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}
                      {% if competitor.is_duplicated_series_competitions %}<i class="fas fa-bomb ml-1"></i>{% endif %}
                      {% if competitor.is_diffrence_event_and_price %}<i class="fas fa-money-check ml-1"></i>{% endif %}
                      {% if not competitor.person.wca_birth_at %}<i class="fas fa-birthday-cake ml-1"></i>{% endif %}
                    </td>
                    <td><a href="mailto:{{ competitor.person.user.email }}">{{ competitor.person.get_full_name }}</a>
                    <td>{{ competitor.guest_count }}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_price }}円{% endif %}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if cancel_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-danger text-white lead">
            キャンセル済み&nbsp;({{ cancel_competitors | length }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="cancel" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col" ><input type="checkbox" class="competition_admin_all_cancel competition_admin_checkbox" /></th>
                  <th scope="col"></th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>#</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>SCJ 氏名</th>
                  <th data-toggle="tooltip" data-placement="auto" title="{{ cancel_competitors | sum_attribute_param:'guest_count' }}名" scope="col"><i class="fas fa-sort mr-2"></i>同伴数</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>支払額</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>申込日時</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in cancel_competitors %}
                  <tr data-toggle="tooltip" data-placement="auto" title="{{ competitor.comment }}">
                    <td><input type="checkbox" class="competition_admin_cancel competition_admin_checkbox" name="competitor_id_{{ competitor.id }}" value="{{ competitor.id }}" data-email="{{ competitor.person.wca_email }}">
                    <td><a href="{% url 'competition_admin_competitor' competition.name_id competitor.id %}">編集</a></td>
                    <td>{{ competitor.registration_number }}</td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td>
                      <span class="flag-icon flag-icon-{{ competitor.person.wca_country_iso2 | lower }} mr-2"></span>
                      <a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>
                      {% if competitor.comment %}<i class="far fa-comment"></i>{% endif %}
                      {% if competitor.is_duplicated_series_competitions %}<i class="fas fa-bomb ml-1"></i>{% endif %}
                      {% if competitor.is_diffrence_event_and_price %}<i class="fas fa-money-check ml-1"></i>{% endif %}
                      {% if not competitor.person.wca_birth_at %}<i class="fas fa-birthday-cake ml-1"></i>{% endif %}
                    </td>
                    <td><a href="mailto:{{ competitor.person.user.email }}">{{ competitor.person.get_full_name }}</a>
                    <td>{{ competitor.guest_count }}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_price }}円{% if competitor.stripe_progress.refund_price > 0 %}&nbsp;<i class="fas fa-undo fa-fw"></i>{{ competitor.stripe_progress.refund_price }}円{% endif %}{% endif %}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if pending_competitors or registration_competitors or cancel_competitors %}
        <div class="alert alert-light" role="alert">
          <div><i class="fas fa-money-check mr-1"></i>種目変更により支払額と差額が発生している際に表示されます。</div>
          <div><i class="fas fa-bomb mr-1"></i>シリーズ大会において重複申し込みが発生している際に表示されます。</div>
          <div><i class="fas fa-birthday-cake mr-1"></i>WCAアカウントに誕生日が設定されていない際に表示されます。</div>
        </div>
        <div class="alert alert-light" role="alert">
          <div>チェックを入れた参加者のステータスを下部の[承認][否認]ボタンで変更できます。</div>
          <div>ただしステータスを変更した際、参加者に<strong class="text-danger">メールが送信されます</strong>ので十分に気をつけて下さい。</div>
          <div>その他のボタンも同様にチェックを入れた参加者で出力されます。</div>
        </div>
      {% endif %}
      <input type="hidden" name="name_id" value="{{ competition.name_id }}">
      {% if pending_competitors or registration_competitors or cancel_competitors %}
        <div class="col-lg mb-3 btn-group" role="group">
          <button type="button" class="mt-2 competition_admin_submit btn btn-success" name="type" value="admit" {% if competition.registration_open_at > now %}disabled{% endif %}><i class="fas fa-check fa-fw mr-2"></i>承認</button>
          <button type="button" class="mt-2 competition_admin_submit btn btn-danger" name="type" value="cancel" {% if competition.registration_open_at > now %}disabled{% endif %}><i class="fas fa-trash fa-fw mr-2"></i>否認</button>
        </div>
      {% endif %}
    </form>
    {% if pending_competitors or registration_competitors or cancel_competitors %}
      <div class="col-lg mb-3 btn-group" role="group">
        {% with path=competition|competition_logo %}
          <button type="button" class="btn btn-dark submit_change_action btn-sm" value="{% url 'competition_admin_wca_csv' competition.name_id %}"><img class="mr-2" width="18" src="{% static path %}">WCA Import CSV</button>
        {% endwith %}
        <button type="button" class="btn btn-info submit_change_action btn-sm" value="{% url 'competition_admin_csv' competition.name_id %}"><i class="fas fa-check fa-file-csv mr-2"></i>CSV</button>
        <button type="button" class="btn btn-warning competition_admin_email btn-sm" href="mailto:?bcc="><i class="fas fa-check fa-envelope mr-2"></i>メール送信</button>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
