{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load competition_logo %}
{% load guest_sum %}
{% load static %}

{% block content %}
{% include "app/common/competition_title.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='admin' %}
  </div>
  <div class="col-lg-10 mb-3">
    {% include "app/common/notification.html" %}
    <form action="" method="POST">
      {% csrf_token %}
      {% if pending_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-warning text-white lead">
            未承認&nbsp;({{ pending_competitors | length }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="pending" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" class="competition_admin_all_pending" /></th>
                  <th scope="col"></th>
                  <th scope="col">WCA ID</th>
                  <th scope="col">氏名</th>
                  <th scope="col">SCJ 氏名</th>
                  <th scope="col">同伴者人数({{ pending_competitors | guest_sum }}名)</th>
                  <th scope="col">支払額</th>
                  <th scope="col">支払日時</th>
                  <th scope="col">申込日時</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in pending_competitors %}
                  <tr data-toggle="tooltip" data-placement="bottom" title="{{ competitor.comment }}">
                    <td><input type="checkbox" class="competition_admin_pending" name="competitor_id_{{ competitor.id }}" value="{{ competitor.id }}">
                    <td><a href="{% url 'competition_admin_competitor' competition.name_id competitor.id %}">編集</a></td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td><a href="mailto:{{ competitor.person.wca_email }}">{% if competitor.is_duplicated_twin_competitions %}<i class="fas fa-bomb"></i>&nbsp;{% endif %}{{ competitor.person.wca_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    <td><a href="mailto:{{ competitor.person.user.email }}">{{ competitor.person.get_full_name }}</a>
                    <td>{{ competitor.guest_count }}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_price }}円{% endif %}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_at | date:"Y年m月d日 H:i:s" }}{% endif %}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if registration_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-success text-white lead">
            承認済み&nbsp;({{ registration_competitors | length }}/{{ competition.limit }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="registration" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" class="competition_admin_all_admit" /></th>
                  <th scope="col"></th>
                  <th scope="col">WCA ID</th>
                  <th scope="col">氏名</th>
                  <th scope="col">SCJ 氏名</th>
                  <th scope="col">同伴者人数({{ registration_competitors | guest_sum }}名)</th>
                  <th scope="col">支払額</th>
                  <th scope="col">支払日時</th>
                  <th scope="col">申込日時</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in registration_competitors %}
                  <tr data-toggle="tooltip" data-placement="bottom" title="{{ competitor.comment }}">
                    <td><input type="checkbox" class="competition_admin_admit" name="competitor_id_{{ competitor.id }}" value="{{ competitor.id }}">
                    <td><a href="{% url 'competition_admin_competitor' competition.name_id competitor.id %}">編集</a></td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td><a href="mailto:{{ competitor.person.wca_email }}">{% if competitor.is_duplicated_twin_competitions %}<i class="fas fa-bomb"></i>&nbsp;{% endif %}{{ competitor.person.wca_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    <td><a href="mailto:{{ competitor.person.user.email }}">{{ competitor.person.get_full_name }}</a>
                    <td>{{ competitor.guest_count }}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_price }}円{% endif %}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_at | date:"Y年m月d日 H:i:s" }}{% endif %}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if cancel_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-danger text-white lead">
            キャンセル済み&nbsp;({{ cancel_competitors | length }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="cancel" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" class="competition_admin_all_cancel" /></th>
                  <th scope="col"></th>
                  <th scope="col">WCA ID</th>
                  <th scope="col">氏名</th>
                  <th scope="col">SCJ 氏名</th>
                  <th scope="col">同伴者人数</th>
                  <th scope="col">支払額</th>
                  <th scope="col">支払日時</th>
                  <th scope="col">返金額</th>
                  <th scope="col">返金日時</th>
                  <th scope="col">申込日時</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in cancel_competitors %}
                  <tr data-toggle="tooltip" data-placement="bottom" title="{{ competitor.comment }}">
                    <td><input type="checkbox" class="competition_admin_cancel" name="competitor_id_{{ competitor.id }}" value="{{ competitor.id }}">
                    <td><a href="{% url 'competition_admin_competitor' competition.name_id competitor.id %}">編集</a></td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td><a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    <td><a href="mailto:{{ competitor.person.user.email }}">{{ competitor.person.get_full_name }}</a>
                    <td>{{ competitor.guest_count }}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_price }}円{% endif %}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.pay_at | date:"Y年m月d日 H:i:s" }}{% endif %}</td>
                    <td>{% if competitor.stripe_progress.refund_price > 0 %}{{ competitor.stripe_progress.refund_price }}円{% endif %}</td>
                    <td>{% if competitor.stripe_progress %}{{ competitor.stripe_progress.refund_at | date:"Y年m月d日 H:i:s" }}{% endif %}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if pending_competitors or registration_competitors or cancel_competitors %}
        <div class="alert alert-light" role="alert">
          <div>チェックを入れた参加者のステータスを下部の[承認][否認]ボタンで変更できます。</div>
          <div>ただしステータスを変更した際、参加者に<strong class="text-danger">メールが送信されます</strong>ので十分に気をつけて下さい。</div>
          <div>CSVも同様にチェックを入れた参加者の一覧がCSVで出力されます。</div>
        </div>
      {% endif %}
      <input type="hidden" name="name_id" value="{{ competition.name_id }}">
      {% if pending_competitors or registration_competitors or cancel_competitors %}
        <div class="float-right">
          <button type="button" class="mt-2 competition_admin_submit btn btn-success" name="type" value="admit" {% if competition.registration_open_at > now %}disabled{% endif %}><i class="fas fa-check fa-fw mr-2"></i>承認</button>
          <button type="button" class="mt-2 competition_admin_submit btn btn-danger" name="type" value="cancel" {% if competition.registration_open_at > now %}disabled{% endif %}><i class="fas fa-trash fa-fw mr-2"></i>否認</button>
        </div>
      {% endif %}
    </form>
    {% if pending_competitors or registration_competitors or cancel_competitors %}
      <div class="float-right">
        {% with path=competition|competition_logo %}
          <button type="button" class="btn btn-dark mt-2 mb-2 submit_change_action" value="{% url 'competition_admin_wca_csv' competition.name_id %}"><img class="mr-2" width="18" src="{% static path %}">WCA Import CSV</button>
        {% endwith %}
        <button type="button" class="btn btn-info mt-2 mb-2 mr-1 submit_change_action" value="{% url 'competition_admin_csv' competition.name_id %}"><i class="fas fa-check fa-file-csv mr-2"></i>CSV</button>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}