{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load competition_logo %}
{% load event_name %}
{% load event_id_name %}
{% load static %}

{% block content %}
{% include "app/common/competition_title.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='reception' %}
  </div>
  <div class="col-lg-10 mb-3">
    {% include "app/common/notification.html" %}
    <form action="" method="POST">
      <input type="hidden" name="name_id" value="{{ competition.name_id }}">
      {% csrf_token %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md text-center right-divider">
              <label>受付待ち数</label>
              <h2 class="mb-0">{{ not_yet_reception_count }}<span style="font-size: 1rem; font-weight: 500;">人</span></h2>
            </div>
            <div class="col-md text-center right-divider">
              <label>参加者数</label>
              <h2 class="mb-0">{{ reception_count }}<span style="font-size: 1rem; font-weight: 500;">人</span></h2>
            </div>
            <div class="col-md text-center right-divider">
              <label>同伴者数</label>
              <h2 class="mb-0">{{ guest_count }}<span style="font-size: 1rem; font-weight: 500;">人</span></h2>
            </div>
            <div class="col-md text-center">
              <label>会場人数</label>
              <h2 class="mb-0">{{ all_count }}<span style="font-size: 1rem; font-weight: 500;">人</span></h2>
            </div>
          </div>
        </div>
      </div>
      
      {% if not_yet_reception_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-danger text-white lead">
            未受付&nbsp;({{ not_yet_reception_competitors | length }}/{{ competitors_count }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="notyet" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>#</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>同伴数</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>参加受付</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>同伴受付</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in not_yet_reception_competitors %}
                    <tr data-toggle="tooltip" data-placement="auto" title="{{ competitor.comment }}">
                      <td>{{ competitor.registration_number }}</td>
                      <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                      <td>
                        <span class="flag-icon flag-icon-{{ competitor.person.wca_country_iso2 | lower }} mr-2"></span>
                        <a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>
                        {% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}
                        {% if competitor.is_diffrence_event_and_price %}<i class="fas fa-money-check ml-1"></i>{% endif %}
                      </td>
                      <td>{{ competitor.guest_count }}</td>
                      <td><button type="submit" name="self" value="{{ competitor.id }}" class="btn btn-sm btn-warning px-2 py-1">参加受付</button></td>
                      <td><a href="{% url 'competition_admin_guest_reception' competition.name_id competitor.id %}"><button type="button" class="btn btn-sm btn-success px-2 py-1">同伴受付</button></a></td>
                    </tr>
                  </form>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if self_reception_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-warning text-white lead">
            参加者受付済み&nbsp;({{ self_reception_competitors | length }}/{{ competitors_count }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="self_reception" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>#</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>同伴数</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>同伴受付</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in self_reception_competitors %}
                  <tr data-toggle="tooltip" data-placement="auto" title="{{ competitor.comment }}">
                    <td>{{ competitor.registration_number }}</td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td>
                      <span class="flag-icon flag-icon-{{ competitor.person.wca_country_iso2 | lower }} mr-2"></span>
                      <a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>
                      {% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}
                      {% if competitor.is_diffrence_event_and_price %}<i class="fas fa-money-check ml-1"></i>{% endif %}
                    </td>
                    <td>{{ competitor.guest_count }}</td>
                    <td><a href="{% url 'competition_admin_guest_reception' competition.name_id competitor.id %}"><button type="button" class="btn btn-sm btn-success px-2 py-1">同伴受付</button></a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if all_reception_competitors %}
        <div class="card mb-3">
          <div class="card-header bg-success text-white lead">
            受付済み&nbsp;({{ all_reception_competitors | length }}/{{ competitors_count }}名)
          </div>
          <div class="text-nowrap table-responsive">
            <table id="self_reception" class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>#</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>同伴数</th>
                  <th scope="col"><i class="fas fa-sort mr-2"></i>変更</th>
                </tr>
              </thead>
              <tbody>
                {% for competitor in all_reception_competitors %}
                  <tr data-toggle="tooltip" data-placement="auto" title="{{ competitor.comment }}">
                    <td>{{ competitor.registration_number }}</td>
                    <td>{% if competitor.person.wca_id %}<a href="https://www.worldcubeassociation.org/persons/{{ competitor.person.wca_id }}" target="_blank">{{ competitor.person.wca_id }}</a>{% endif %}</td>
                    <td>
                      <span class="flag-icon flag-icon-{{ competitor.person.wca_country_iso2 | lower }} mr-2"></span>
                      <a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>
                      {% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}
                      {% if competitor.is_diffrence_event_and_price %}<i class="fas fa-money-check ml-1"></i>{% endif %}
                    </td>
                    <td>{{ competitor.guest_count }}</td>
                    <td><a href="{% url 'competition_admin_guest_reception' competition.name_id competitor.id %}"><button type="button" class="btn btn-sm btn-secondary px-2 py-1">変更</button></a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      <div class="alert alert-light" role="alert">
        <div><i class="fas fa-money-check mr-1"></i>種目変更により支払額と差額が発生している際に表示されます。</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
