{% extends "app/common/base.html" %}
{% load bootstrap4 %}

{% block content %}
{% include "app/common/competition_title.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='refund' %}
  </div>
  <div class="col-lg-10 mb-3">
    {% include "app/common/notification.html" %}
    <form action="" method="POST">
      {% csrf_token %}
      {% if competitors %}
        <div class="card mb-3">
          <div class="card-header bg-danger text-white lead">
            返金
          </div>
          <div class="text-nowrap table-responsive">
            <table id="refund" class="table table-striped small">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"><i class="fas fa-sort mr-2"></i>返金額</th>
                    {% if competition.type == competition_type.WCA.value %}
                      <th scope="col"><i class="fas fa-sort mr-2"></i>WCA ID</th>
                    {% elif competition.type == competition_type.SCJ.value %}
                      <th scope="col"><i class="fas fa-sort mr-2"></i>SCJ ID</th>
                    {% endif %}
                    <th scope="col"><i class="fas fa-sort mr-2"></i>氏名</th>
                    <th scope="col"><i class="fas fa-sort mr-2"></i>支払日時</th>
                    <th scope="col"><i class="fas fa-sort mr-2"></i>申込日時</th>
                  </tr>
              </thead>
              <tbody>
                {% for competitor in competitors %}
                  <tr data-toggle="tooltip" data-placement="bottom" title="{{ competitor.comment }}" class="competition_admin_refund_competitor">
                    <td><input type="checkbox" name="competitor_id_{{ competitor.id }}" class="competition_admin_refund_checkbox"></td>
                    <td><input type="number" name="competitor_refund_{{ competitor.id }}" class="competition_admin_refund_price" value="{{ competitor.stripe_progress.pay_price }}">&nbsp;/&nbsp;{{ competitor.stripe_progress.pay_price }}円</td>
                    {% if competition.type == competition_type.WCA.value %}
                      <td class="competition_admin_refund_specific_id" data-value="{{ competitor.person.wca_id }}">{{ competitor.person.wca_id }}</td>
                    {% elif competition.type == competition_type.SCJ.value %}
                      <td class="competition_admin_refund_specific_id" data-value="{{ competitor.person.id }}" >{{ competitor.person.id }}</td>
                    {% endif %}
                    {% if competition.type == competition_type.WCA.value %}
                      <td><a href="mailto:{{ competitor.person.wca_email }}" class="competition_admin_refund_name" data-value="{{ competitor.person.wca_name }}">{{ competitor.person.wca_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    {% elif competition.type == competition_type.SCJ.value %}
                      <td><a href="mailto:{{ competitor.person.email }}" class="competition_admin_refund_name" data-value="{{ competitor.person.get_full_name }}">{{ competitor.person.get_full_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    {% endif %}
                    <td>{{ competitor.stripe_progress.pay_at | date:"Y年m月d日 H:i:s" }}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="alert alert-light" role="alert">
          <div>返金は<strong>申込締切後</strong>より可能です。</div>
          <div>チェックを入れた参加者の支払いを返金できます。返金額に金額を設定した場合、一部返金が可能です。</div>
          <div>返金額に価格を設定しない場合(空欄)は全額返金になります。返金は<strong class="text-danger">取り消せない</strong>ため十分に注意して下さい。</div>
        </div>
      {% endif %}
      <input type="hidden" name="name_id" value="{{ competition.name_id }}">
      {% if competitors %}
      <div class="float-right">
        <button type="button" class="mt-2 btn btn-danger competition_admin_refund_confirm" data-toggle="modal" data-target="#refund"><i class="fas fa-undo-alt fa-fw mr-2"></i>返金</button>
      </div>
      {% endif %}
    </form>
  </div>
</div>

<div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">参加費の返金</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10005;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3 competition_admin_refund_text">以下の参加費の返金を行います。これはやり直すことはできません。</div>
        <table class="table table-striped small competition_admin_refund_table">
          <thead>
            <tr>
              {% if competition.type == competition_type.WCA.value %}
                <th scope="col">WCA ID</th>
              {% elif competition.type == competition_type.SCJ.value %}
                <th scope="col">SCJ ID</th>
              {% endif %}
              <th scope="col">氏名</th>
              <th scope="col">返金額</th>
            </tr>
          </thead>
          <tbody class="competition_admin_refund_target_list">
          </tbody>
        </table>
        {% if competition.registration_close_at > now %}
          <div class="text-danger">
            ※申込み期間終了後に返金が可能になります。
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        {% if competition.registration_close_at <= now %}
          <button type="button" value="refund" class="btn btn-success submit competiton_admin_refund_submit"><i class="far fa-eye fa-fw mr-2"></i>返金</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // 返金ポップアップ対象表示
  $('.competition_admin_refund_confirm').prop('disabled', true);

  $('.competition_admin_refund_checkbox').change(function () {
    $('.competition_admin_refund_confirm').prop('disabled', true);
    $('.competition_admin_refund_competitor').each(function () {
      if ($(this).find('.competition_admin_refund_checkbox').prop('checked')) {
        $('.competition_admin_refund_confirm').prop('disabled', false);
      }
    });
  });

  $('.competition_admin_refund_confirm').click(function () {
    $('.competition_admin_refund_target_list').empty();
    var refund_list = [];
    $('.competition_admin_refund_competitor').each(function () {
      var map = {};
      if ($(this).find('.competition_admin_refund_checkbox').prop('checked')) {
        var specific_id = $(this).find('.competition_admin_refund_specific_id').data('value');
        var name = $(this).find('.competition_admin_refund_name').data('value');
        var price = $(this).find('.competition_admin_refund_price').val();
        map['specific_id'] = specific_id;
        map['price'] = price;
        map['name'] = name;
        refund_list.push(map);
      }
    });

    if (refund_list.length > 5) {
      refund_list = [];
      $('.competiton_admin_refund_submit').prop('disabled', true);
      $('.competition_admin_refund_text').text('5件以上の返金は同時にできません。')
      $('.competition_admin_refund_text').addClass("text-danger")
      $('.competition_admin_refund_table').hide()
    } else {
      $('.competiton_admin_refund_submit').prop('disabled', false);
      $('.competition_admin_refund_text').text('以下の参加費の返金を行います。これはやり直すことはできません。')
      $('.competition_admin_refund_text').removeClass("text-danger")
      $('.competition_admin_refund_table').show()
    }

    for (const list of refund_list) {
      $('.competition_admin_refund_target_list').append('<tr><td>' + list['specific_id'] + '</td><td>' + list['name'] + '</td><td>' + list['price'] + '円</td></tr>')
    }
  });
</script>

{% endblock %}