{% extends "app/common/base.html" %}
{% load bootstrap4 %}

{% block content %}
{% include "app/common/competition_title.html" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='refund' %}
  </div>
  <div class="col-lg-10 mb-3">
    {% include "app/common/notification.html" %}
    <form action="" method="POST">
      {% csrf_token %}
      {% if competitors %}
        <div class="card mb-3">
          <div class="card-header bg-danger text-white lead">
            返金
          </div>
          <div class="text-nowrap table-responsive">
            <table class="table table-striped small">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">返金額</th>
                    {% if competition.type == competition_type.WCA.value %}
                      <th scope="col">WCA ID</th>
                    {% elif competition.type == competition_type.SCJ.value %}
                      <th scope="col">SCJ ID</th>
                    {% endif %}
                    <th scope="col">氏名</th>
                    <th scope="col">支払日時</th>
                    <th scope="col">申込日時</th>
                  </tr>
              </thead>
              <tbody>
                {% for competitor in competitors %}
                  <tr data-toggle="tooltip" data-placement="bottom" title="{{ competitor.comment }}">
                    <td><input type="checkbox" name="competitor_id_{{ competitor.id }}"></td>
                    <td><input type="number" name="competitor_refund_{{ competitor.id }}">&nbsp;/&nbsp;{{ competitor.stripe_progress.pay_price }}円</td>
                    {% if competition.type == competition_type.WCA.value %}
                      <td>{{ competitor.person.wca_id }}</td>
                    {% elif competition.type == competition_type.SCJ.value %}
                      <td>{{ competitor.person.id }}</td>
                    {% endif %}
                    {% if competition.type == competition_type.WCA.value %}
                      <td><a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    {% elif competition.type == competition_type.SCJ.value %}
                      <td><a href="mailto:{{ competitor.person.email }}">{{ competitor.person.get_full_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    {% endif %}
                    <td>{{ competitor.stripe_progress.pay_at | date:"Y年m月d日 H:i:s" }}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="alert alert-light" role="alert">
          <div>チェックを入れた参加者の支払いを返金できます。返金額に金額を設定した場合、一部返金が可能です。</div>
          <div>返金額に価格を設定しない場合(空欄)は全額返金になります。返金は<strong class="text-danger">取り消せない</strong>ため十分に注意して下さい。</div>
        </div>
      {% endif %}
      <input type="hidden" name="name_id" value="{{ competition.name_id }}">
      {% if competitors %}
      <div class="float-right">
        <button type="button" class="mt-2 submit btn btn-danger"><i class="fas fa-undo-alt fa-fw mr-2"></i>返金</button>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}