{% extends "app/base.html" %}
{% load bootstrap4 %}
{% load competition_logo %}
{% load static %}

{% block content %}
{% with path=competition|competition_logo %}
  <h4 class="ml-2 mb-3"><img class="mr-2" width="30" src="{% static path %}">{{ competition.name }}</h4>
{% endwith %}

<div class="row">
  <div class="col-sm-3 mb-3">
    {% include "app/competition/menu.html" with active='refund' %}
  </div>
  <div class="col-sm-9 mb-3">
    {% include "app/notification.html" %}
    <form action="" method="POST">
      {% csrf_token %}
      {% if competitors %}
        <div class="card mb-3">
          <div class="card-header bg-danger text-white lead">
            返金
          </div>
          <div class="text-nowrap table-responsive">
            <table class="table table-striped small">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">返金額</th>
                    {% if competition.type == consts.COMPETITION_TYPE_WCA %}
                      <th scope="col">WCA ID</th>
                    {% elif competition.type == consts.COMPETITION_TYPE_SCJ %}
                      <th scope="col">SCJ ID</th>
                    {% endif %}
                    <th scope="col">氏名</th>
                    <th scope="col">支払日時</th>
                    <th scope="col">申込日時</th>
                  </tr>
              </thead>
              <tbody>
                {% for competitor in competitors %}
                  <tr data-toggle="tooltip" data-placement="bottom" title="{{ competitor.comment }}">
                    <td><input type="checkbox" name="competitor_id_{{ competitor.id }}"></td>
                    <td><input type="number" name="competitor_refund_{{ competitor.id }}">&nbsp;/&nbsp;{{ competitor.stripe_progress.pay_pirce }}円</td>
                    {% if competition.type == consts.COMPETITION_TYPE_WCA %}
                      <td>{{ competitor.person.wca_id }}</td>
                    {% elif competition.type == consts.COMPETITION_TYPE_SCJ %}
                      <td>{{ competitor.person.id }}</td>
                    {% endif %}
                    {% if competition.type == consts.COMPETITION_TYPE_WCA %}
                      <td><a href="mailto:{{ competitor.person.wca_email }}">{{ competitor.person.wca_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    {% elif competition.type == consts.COMPETITION_TYPE_SCJ %}
                      <td><a href="mailto:{{ competitor.person.email }}">{{ competitor.person.get_full_name }}</a>{% if competitor.comment %}<i class="far fa-comment ml-1"></i>{% endif %}</td>
                    {% endif %}
                    <td>{{ competitor.stripe_progress.pay_at | date:"Y年m月d日 H:i:s" }}</td>
                    <td>{{ competitor.created_at | date:"Y年m月d日 H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      <input type="hidden" name="name_id" value="{{ competition.name_id }}">
      {% if competitors %}
      <div class="float-right">
        <button type="button" class="mt-2 submit btn btn-danger"><i class="fas fa-undo-alt fa-fw mr-2"></i>返金</button>
      </div
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}