{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load competition_logo %}
{% load event_name %}
{% load event_id_name %}

{% block content %}
{% include "app/common/competition_title.html" %}
{% include "app/common/title.html" with title="一般見学者受付" %}

<div class="row">
  <div class="col-lg-2 mb-3">
    {% include "app/competition/menu.html" with active='reception' %}
  </div>
  <div class="col-lg-10 mb-3">
    {% include "app/common/notification.html" %}
    <div class="card">
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}
          <div class="form-group">
            <div class="offset-md-3 col-md-2">
              <input class="btn btn-success" type="submit" value="変更" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
