{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="author" content="一般社団法人スピードキュービングジャパン" />
<meta name="description" content="一般社団法人スピードキュービングジャパン" />
<meta name="googlebot" />
<meta name="google" content="nopagereadaloud" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@scj_speedcubing" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'app/image/scj_logo_s.png' %}" />
{% if title %}
  <meta property="og:title" content="{{ title }}" />
{% else %}
  <meta property="og:title" content="一般社団法人スピードキュービングジャパン" />
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0M8PRX6HGJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0M8PRX6HGJ');
</script>
<script src="{% static 'app/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/js/avantui.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://kit.fontawesome.com/4e31109a85.js" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<script src="{% static 'app/js/main.js' %}"></script>

<link rel="shortcut icon" href="{% static 'app/image/favicon.ico' %}" type="image/vnd.microsoft.icon">
<link rel="icon" href="{% static 'app/image/favicon.ico' %}" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'app/css/avantui.min.css' %}">
<link rel="stylesheet" href="{% static 'app/css/main.css' %}">
<link rel="stylesheet" href="{% static 'app/css/cubing-icons.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}Speedcubing Japan{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% include "app/navibar.html" %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% block extra_js %}{% endblock %}
</body>
</html>
