<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <div class="text-center">
      <a class="text-dark" href="{% url 'speedcubing' %}"><i class="fas fa-info-circle fa-fw ml-2 mr-1"></i>スピードキュービングとは</a>
      <a class="text-dark" href="{% url 'terms' %}"><i class="fas fa-book fa-fw ml-2 mr-1"></i>利用規約</a>
      <a class="text-dark" href="{% url 'privacy_policy' %}"><i class="fas fa-user-secret fa-fw ml-2 mr-1"></i>プライバシーポリシー</a>
      <a class="text-dark" href="{% url 'public_announcement' %}"><i class="fas fa-bullhorn fa-fw ml-2 mr-1"></i>公告</a>
      <a class="text-dark" href="https://github.com/speedcubing-japan" target="_blank"><i class="fab fa-github fa-fw ml-2 mr-1"></i>Github</a>
      <a class="text-dark" href="{% url 'contact' %}"><i class="fas fa-envelope fa-fw ml-2 mr-1"></i>お問い合わせ</a>
    </div>
  </div>
</footer>
