{% if notification == 'is_just_update' %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>更新しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_not_updated' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>変更されていません。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_registration' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>メールを確認して登録完了してください。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_registration_complete' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>ユーザー登録完了しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_password_change' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>パスワード変更しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_password_reset' %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>パスワード変更の通知をメール送信しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_password_reset_complete' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>パスワード変更しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_mail_change' %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>メールアドレス変更通知をメール送信しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_mail_change_complete' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>メールアドレスを変更しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_contact' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>お問い合わせを送信しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_post' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>お知らせを追加しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_post_offer' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>お知らせを申請しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_post_approve' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>お知らせ申請を承認しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_information_delete' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>お知らせを削除しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_profile_change' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>プロフィールを更新しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_wca_authorization_complete' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>WCA認証が完了しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_wca_authorization_duplicated' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>WCA IDが他アカウントと重複しています。認証に失敗しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_stripe_authorization_complete' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Stripe認証が完了しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_payment_success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>支払いが完了しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_payment_error' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>支払い処理が失敗しました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_payment_cancel' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>支払いがキャンセルされました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_admin_competition_limit' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>承認人数が大会制限人数を超過しています。却下するか定員を増やしてください。</strong>
  </div>
{% endif %}
{% if notification == 'is_canceled_competition' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>この大会は中止になりました。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_admin_competitor_event_not_selected' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>種目が選択されていません。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_over_refund_amount' %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>全額よりも高い金額が設定されています。</strong>
  </div>
{% endif %}
{% if notification == 'is_just_competition_register' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>申し込み完了しました。承認されるまでお待ち下さい。</strong>
  </div>
{% endif %}