{% extends "app/common/base.html" %}
{% load static %}
{% load competition_logo %}
{% load competition_pdf %}

{% block content %}
{% include "app/common/title.html" with title="過去のSCJ大会結果" %}

<ul class="list-group mb-3">
  {% for competition in competitions %}
    <li class="list-group-item">
      {% with pdf_path=competition|competition_pdf %}
      <a class="stretched-link" href="{% static pdf_path %}"></a>
        <div class="date text-muted">{{ competition.open_at | date:"Y年m月d日" }}</div>
        {% with path=competition|competition_logo %}
          <div class="competition-name text-primary mr-4"><img class="mr-2" width="20" src="{% static path %}">{{ competition.name }}{% if competition.is_cancel %}&nbsp;[開催中止]{% endif %}</div>
        {% endwith %}
        <div class="location">
          <span class="mr-2">{{ competition.get_prefecture_id_display }}</span>
          <span>{{ competition.venue_name }}</span>
        </div>
      </a>
      {% endwith %}
    </li>
  {% endfor %}
</ul>

{% endblock %}
