{% extends "app/common/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h4 class="ml-2 mb-3">お問い合わせ</h4>

<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <input class="btn btn-dark" type="submit" value="送信">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
