{% extends "app/common/base.html" %}
{% load static %}
{% load competition_logo %}

{% block content %}
  {% include "app/common/notification.html" %}
  <div calss="row">
    <div class="modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            当サイトではCookieを使用します。Cookieの使用に関する詳細は「<a href="{% url 'privacy_policy' %}">プライバシーポリシー</a>」をご覧ください。
          </div>
          <div class="modal-footer p-2">
            <button class="btn btn-primary agree_cookie" form="agreement" type="submit" data-dismiss="modal">同意する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-header lead">
        お知らせ
      </div>
      <ul class="nav nav-tabs flex-lg-row" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'information_list' 'all' %}">すべて</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'information_list' 'information' %}">全般</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'information_list' 'wca_competition' %}">WCA大会</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'information_list' 'scj_competition' %}">SCJ大会</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'information_list' 'event' %}">イベント</a>
        </li>
      </ul>
      <ul class="list-group mb-4">
        {% for information in informations %}
          <li class="list-group-item">

            <span class="date text-muted">
              {{ information.updated_at | date:"Y年m月d日" }}&nbsp;掲載
            </span>

            <span class="information-type">
              {% include "app/common/information_type_badge.html" with type_display_name=information.get_type_display %}
            </span>

            <span class="information-title">
              <a class="stretched-link" href="{% url 'information' information.id %}">{{ information.title }}</a>
            </span>

          </li>
        {% endfor %}
      </ul>

      <ul class="pagination justify-content-center mb-3">
        <li class="page-item {% if informations.has_previous == False %}disabled{% endif %}">
          <a class="page-link" {% if informations.has_previous %}href="{% url 'information_list' 'all' %}?page={{ informations.previous_page_number }}"{% endif %} aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% for page in informations.paginator.page_range %}
          <li class="page-item {% if informations.number == page %}active{% endif %}"><a class="page-link" href="{% url 'information_list' 'all' %}?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item {% if informations.has_next == False %}disabled{% endif %}">
          <a class="page-link" {% if informations.has_next %}href="{% url 'information_list' 'all' %}?page={{ informations.next_page_number }}"{% endif %} aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-lg-6">
      {% if competitions %}
        <li class="list-group-item bg-light lead">開催予定の大会</li>
        {% for competition in competitions %}
          <li class="list-group-item">
            <a class="stretched-link" href="{% url 'competition_detail' competition.name_id %}"></a>
              <div class="date text-muted">{{ competition.open_at | date:"Y年m月d日" }}&nbsp;開催</div>
              {% with path=competition|competition_logo %}
                <div class="competition-name text-primary mr-4"><img class="mr-2" width="20" src="{% static path %}">{{ competition.name }}{% if competition.is_cancel %}&nbsp;[開催中止]{% endif %}</div>
              {% endwith %}
              <div class="location">
                <span class="mr-2">{{ competition.get_prefecture_id_display }}</span>
                <span>{{ competition.venue_name }}</span>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
      {% if finish_competitions %}
        <li class="{% if competitions %}mt-3{% endif %} list-group-item bg-light lead">終了した大会</li>
        {% for competition in finish_competitions %}
          <li class="list-group-item">
            <a class="stretched-link" href="{% url 'competition_detail' competition.name_id %}"></a>
              <div class="date text-muted">{{ competition.open_at | date:"Y年m月d日" }}&nbsp;開催</div>
              {% with path=competition|competition_logo %}
                <div class="competition-name text-primary mr-4"><img class="mr-2" width="20" src="{% static path %}">{{ competition.name }}{% if competition.is_cancel %}&nbsp;[開催中止]{% endif %}</div>
              {% endwith %}
              <div class="location">
                <span class="mr-2">{{ competition.get_prefecture_id_display }}</span>
                <span>{{ competition.venue_name }}</span>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </div>
  </div>

<script>
  const cookieList = document.cookie.split(';');
  const cookie = {}
  cookieList.forEach((data) => {
    const content = data.split('=');
    const key = content[0].trim()
    const value = content[1]
    cookie[key] = value
  })
  if (!cookie.agree_cookie) {
    $('#staticBackdrop').modal()
  }
</script>
{% endblock content %}
