{% extends "app/common/base.html" %}
{% load static %}

{% block content %}
{% include "app/common/title.html" with title="組織" %}

<div class="card mb-3">
  <div class="card-body">
    <h4>役員</h4>
    <hr>
    <div class="mb-3">
      <h5>代表理事</h5>
      <ul><li>大村周平</li></ul>
      <h5>理事</h5>
      <ul>
        <li>荒木慎平</li>
        <li>上田浩登</li>
        <li>須賀慶</li>
        <li>濵田祐一</li>
      </ul>
      <h5>顧問</h5>
      <ul>
        <li>秋元正行</li>
        <li>巣瀬雄史</li>
        <li>百田郁夫</li>
      </ul>
    </div>
    <h4>組織図</h4>
    <hr>
    <div>
      <div class="text-canter"><img width="100%" src="{% static 'app/image/organization.png' %}"></div>
    </div>
  </div>
</div>
{% endblock content %}
