{% extends "app/common/base.html" %}

{% block content %}
{% include "app/common/title.html" with title="スピードキュービング" %}

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <div class="mb-4">スピードキュービングとは、ルービックキューブ[<a href="#annotation1">1</a>]をはじめとする様々な立体パズルを揃えるタイムを競うスポーツです。​</div>
      <div>まだ解けないけど、キューブを回すだけでも楽しい。​</div>
      <div>解けるようになってから、タイムを測るのが楽しい。​</div>
      <div>友達やライバルと競うのが楽しい。​</div>
      <div class="mb-4">自分ベストを更新するのが楽しい。​</div>
      <div class="mb-5">気がつけば毎日キューブを回してしまうあなたは、もう立派なスピードキューバーです。​
    </div>
    <div class="mb-5">
      <h5 id="history">スピードキュービングの歴史</h5>
      <hr>
      <div class="mb-4">「もっと速く解いてみたい」​</div>
      <div>パズルを解いた後にも追求できるスピードアップの要素が人々を駆り立て、より優れた解法の探求や競技用パズルの開発が世界中で盛んに行われています。​</div>
    ​  <div>1982年、最初の世界大会の優勝タイムは22.95秒。​</div>
      <div>現在ではインターネットや動画メディアの普及に伴って競技人口が爆発的に増え、​トップクラスでは10秒切りは当たり前。​</div>
      <div>0.01秒の差が明暗を分けることもある激しい戦いが繰り広げられ、​今もなお記録は伸び続けています。​</div>
    </div>
    <div class="mb-5">
      <h5 id="how_to_begin">はじめかた</h5>
      <hr>
      <div>​<strong>攻略法を学ぶ前に</strong></div>
      ​<div>「パズル　解き方」などで検索すれば、すぐに色々な攻略法が見つかる時代です。​</div>
      <div>でも、ちょっと待ってください。​</div>
      <div class="mb-4">もし、まだあなたが自力でパズルを揃えられないなら、それは最後のチャンスでもあります。​</div>
      <div>パズルをスポーツ用具と捉え、揃えては崩しを延々と繰り返すスピードキュービングの世界。​</div>
      <div>一回解き方を覚えてしまえば、もう知らない状態には戻れません。​</div>
      <div class="mb-4">その前に、まずは素朴に楽しんでみませんか。​</div>
      <div><strong>どんな解き方を学ぶか</strong>​</div>
      ​<div>キューブの解き方はたくさんあります。​</div>
      <div>上級者といえどもまったく同じ解き方をしているわけではなく、多様な戦略から好みのものを選び取っています。​</div>
      <div>同様に、「何が一番初心者向きの解法か？」という疑問の答えは様々で、人によって意見が分かれるところです。​</div>
      <div class="mb-4">はじめは特に気にせず、自分がしっくりくるもので始めてみましょう。​</div>
      <div class="mb-4"><strong>どんなパズルを使うか</strong>​</div>
      <div>最初のひとつは、どんなキューブでも大丈夫。​</div>
      <div class="mb-4">はじめのうちはタイムに大きな差はつきません。まずはキューブを解くこと自体を素直に楽しんでみましょう。​</div>
      <div>長いことキューブを楽しんでいると、色々なこだわりが生まれてくるようです。​</div>
      <div>mm単位のサイズ違い、重量、磁力の強さ、ステッカーの色、潤滑剤の種類など…​</div>
      <div>しかし、好みに合わない苦手なキューブを使ったとしても、タイム差はわずかなものです。もっとも、トップレベルではそのわずかの差を真剣に闘っているわけですが。​</div>
      ​<div>様々なモデルやメンテナンスを試しながら、一番気持ちよく回せる自分のキュービングスタイルを見つけてみましょう。​</div>
    </div>
    <div class="mb-5">
      <h5>注釈</h5>
      <hr>
      <div id="annotation1">1.&nbsp;ルービックキューブは、株式会社メガハウスの登録商標です。​</div>
    </div>
  </div>
</div>
{% endblock content %}