{% extends "app/common/base.html" %}

{% block content %}
{% include "app/common/title.html" with title="特定商取引に関する法律に基づく表記" %}

<table class="table">
  <tbody>
    <tr>
      <td class="table-dark">販売業社の名称</td>
      <td>一般社団法人スピードキュービングジャパン</td>
    </tr>
    <tr>
      <td class="table-dark">所在地</td>
      <td>
        <div>〒 210-0007</div>
        <div>神奈川県川崎市川崎区駅前本町11番地2 川崎フロンティアビル4階</div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">電話番号</td>
      <td>
        <div>070-9131-5735</div>
        <div>SCJは専任の常勤職員を持たないため、お電話でのお取次ぎには時間がかかることがございます。</div>
        <div>まずは下記のメールアドレスからお問い合わせください。</div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">メールアドレス</td>
      <td><a href="mailto:info@speedcubing.or.jp">info@speedcubing.or.jp</a></td>
    </tr>
    <tr>
      <td class="table-dark">運営責任者</td>
      <td>大村周平</td>
    </tr>
    <tr>
      <td class="table-dark">追加手数料等の追加料金</td>
      <td>なし。</td>
    </tr>
    <tr>
      <td class="table-dark">交換および返品(返金ポリシー)</td>
      <td>
        <div>大会により返金ポリシーが異なります。</div>
        <div>大会ページの「参加費」「返金ポリシー」をご確認ください。</div>
        <div>参考: <a href="https://speedcubing.or.jp/competition/TokaiOpen2023/fee/" target="_blank">東海大会2023 参加費ページ</a></div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">引渡し時期</td>
      <td>即時反映します。</td>
    </tr>
    <tr>
      <td class="table-dark">受け付け可能な決済手段</td>
      <td>Stripeを通じて行います。クレジットカードのみとなります。</td>
    </tr>
    <tr>
      <td class="table-dark">決済期間</td>
      <td>クレジットカード決済のみのため、ただちに処理されます。</td>
    </tr>
    <tr>
      <td class="table-dark">販売価格</td>
      <td>
        <div>大会および参加種目によって異なります。</div>
        <div>大会ページの「参加費」をご確認ください。</div>
        <div>参考: <a href="https://speedcubing.or.jp/competition/TokaiOpen2023/fee/" target="_blank">東海大会2023 参加費ページ</a></div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">申込み期間の制限</td>
      <td>
        <div>大会の申込期間中にお支払いください。</div>
        <div>参考: <a href="https://speedcubing.or.jp/competition/TokaiOpen2023/fee/" target="_blank">東海大会2023 申し込み日時</a></div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">販売数量の制限</td>
      <td>
        <div>先着順で大会の定員数のみの販売となります。</div>
        <div>参考: <a href="https://speedcubing.or.jp/competition/TokaiOpen2023/fee/" target="_blank">東海大会2023 定員</a></div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock content %}
