{% extends "app/common/base.html" %}

{% block content %}
{% include "app/common/title.html" with title="特定商取引に関する法律に基づく表記" %}

<table class="table">
  <tbody>
    <tr>
      <td class="table-dark">販売業者</td>
      <td>一般社団法人スピードキュービングジャパン</td>
    </tr>
    <tr>
      <td class="table-dark">運営責任者</td>
      <td>大村周平</td>
    </tr>
    <tr>
      <td class="table-dark">住所</td>
      <td>
        <div>〒 210-0007</div>
        <div>神奈川県川崎市川崎区駅前本町11番地2 川崎フロンティアビル4階</div>
       </td>
    </tr>
    <tr>
      <td class="table-dark">電話番号</td>
      <td>
        <div>080-4059-9991</div>
        <div>まずは下記のメールアドレスからご連絡ください。</div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">メールアドレス</td>
      <td><a href="mailto:info@speedcubing.or.jp">info@speedcubing.or.jp</a></td>
    </tr>
    <tr>
        <td class="table-dark">URL</td>
        <td><a href="https://www.speedcubing.or.jp">https://www.speedcubing.or.jp</a></td>
      </tr>
    <tr>
      <td class="table-dark">商品(大会参加費)価格</td>
      <td>
        <div>大会および参加種目によって異なります。</div>
        <div>申込時にご確認ください。</div>
      </td>
    </tr>
    <tr>
      <td class="table-dark">商品(大会参加費)以外の必要代金</td>
      <td>なし。</td>
    </tr>
    <tr>
      <td class="table-dark">注文方法、支払方法</td>
      <td>Stripeのシステムを通じて行います。クレジットカード。</td>
    </tr>
    <tr>
      <td class="table-dark">引渡し時期</td>
      <td>即時反映します。</td>
    </tr>
    <tr>
      <td class="table-dark">返金(大会キャンセル)について</td>
      <td>
        <div>大会により返金ポリシーが異なります。</div>
        <div>大会参加費ページをご確認ください。</div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock content %}
