{% extends "app/common/base.html" %}
{% load static %}

{% block content %}
{% include "app/common/title.html" with title="WCAについて" %}

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <h5>WCA</h5>
      <hr>
      <div><a href="https://www.worldcubeassociation.org/" target="_blank"><img width="40%" src="{% static 'app/image/wca_logo.jpg' %}"></a></div>
      <div class="mb-4">世界キューブ協会 (World Cube Association, WCA)は、世界で最も多くの登録者を持つスピードキュービングのデファクトスタンダードです。​</div>
      <div>SCJはWCAの公認する国内唯一の競技統括団体であり、主事業の一つとしてWCA大会を統括します。​</div>
    </div>
    <div>
      <h5>WCA Trainee Delegate 募集要項</h5>
      <hr>
      <div>WCA Delegateは随時新規募集を受け付けています。</div>
      <div class="mb-4">詳細は以下の文書を御覧ください。</div>
      <div><a href="{% static 'app/pdf/wca_trainee_delegate_20240204.pdf' %}">WCA Trainee Delegate 募集要項</a></div>
    </div>
  </div>
</div>
{% endblock content %}
