{% extends "app/common/base.html" %}
{% load static %}

{% block content %}
{% include "app/common/title.html" with title="WCAについて" %}

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <h5>WCA</h5>
      <hr>
      <div><a href="https://www.worldcubeassociation.org/" target="_blank"><img width="40%" src="{% static 'app/image/wca_logo.jpg' %}"></a></div>
      <div class="mb-4">世界キューブ協会 (World Cube Association, WCA)は、世界で最も多くの登録者を持つスピードキュービングのデファクトスタンダードです。​</div>
      <div>SCJはWCAの公認する国内唯一の競技統括団体であり、主事業の一つとしてWCA大会を開催します。​</div>
    </div>
    <div class="mb-5">
      <h5>WCA Delegate</h5>
      <hr>
      <div>国内のWCA大会は以下のWCA Delegateが監督します。​</div>
      <div class="mb-4">これらのWCA Delegateは、SCJの社員でもあります。</div>
      <div class="text-nowrap table-responsive col-lg-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="bg-dark text-white col-xs-2">
                <div>Regional Delegate​</div>
                <div>Delegate</div>
              </td>
              <td class="col-10"><a href="https://www.worldcubeassociation.org/persons/2007OMUR01" target="_blank">大村周平</a></td>
            </tr>
            <tr>
              <td class="bg-dark text-white">Trainee Delegate​</td>
              <td><a href="https://www.worldcubeassociation.org/persons/2010SUGA01" target="_blank">洲鎌星</a></td>
            </tr>
            <tr>
              <td class="bg-dark text-white">Trainee Delegate​</td>
              <td><a href="https://www.worldcubeassociation.org/persons/2012HAMA02" target="_blank">濵田祐一</a></td>
            </tr>
            <tr>
              <td class="bg-dark text-white">Trainee Delegate​</td>
              <td><a href="https://www.worldcubeassociation.org/persons/2017MIYA04" target="_blank">宮崎隆太郎</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <h5>WCA Trainee Delegate 募集要項</h5>
      <hr>
      <div>WCA Delegateは随時新規募集を受け付けています。</div>
      <div class="mb-4">詳細は以下の文書を御覧ください。</div>
      <div><a href="{% static 'app/pdf/wca_trainee_delegate_20220109.pdf' %}">WCA Trainee Delegate 募集要項</a></div>
    </div>
  </div>
</div>
{% endblock content %}