{% extends "app/common/base.html" %}
{% load static %}

{% block content %}
{% include "app/common/title.html" with title="WCA Delegateからのお知らせ" %}
<div class="mb-3">このページでは、日本地域を担当するWCA Delegateからのお知らせを掲載しています。</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <h5>運用方針</h5>
      <hr>
      <div class="mb-3"><a target="_blank" href="{% static 'app/pdf/wca_competition_operation_policy_20240825.pdf' %}"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>WCA大会 運用方針</button></a></div>
    </div>
    <div class="mb-5">
      <h5>今後の開催予定</h5>
      <hr>
      <div>以下は日本地域におけるWCA Delegateの活動予定としての暫定スケジュールをお知らせするもので、予告なく変更する場合があります。</div>
      <div>大会開催の確定は、WCATによる企画申請の審査結果を踏まえて改めてお伝えします。</div>

      <table class="table table-bordered mb-3">
        <tbody>
          <tr>
            <th scope="row">大会名</th>
            <td>WCA Shonan 2024 AM/PM(仮称)</td>
          </tr>
          <tr>
            <th scope="row">大会種別</th>
            <td>WCAシリーズ大会 午前と午後に2大会を開催します。どちらか一方にのみお申し込みいただけます。</td>
          </tr>
          <tr>
            <th scope="row">日時</th>
            <td>2024年12月7日(土)</td>
          </tr>
          <tr>
            <th scope="row">地域</th>
            <td>神奈川県藤沢市</td>
          </tr>
          <tr>
            <th scope="row">開催種目</th>
            <td>
              <div>3x3x3 キューブ、 2x2x2 キューブ (AM)</div>
              <div>3x3x3 キューブ、 3x3x3 片手 (PM)</div>
              <div>それぞれ決勝ラウンドのみ</div>
            </td>
          </tr>
          <tr>
            <th scope="row">定員</th>
            <td>合計150名、AM/PMそれぞれで75名ずつ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5>現在募集中のWCA大会</h5>
      <hr>
      <div>現在一般から募集中の企画はありません。</div>
  </div>
</div>
{% endblock content %}
