{% extends "app/base.html" %}
{% load static %}

{% block content %}
<h4 class="ml-2 mb-3">日本ランキング​</h4>

<div class="card">
  <div class="card-body">
    <div>
      <div class="mb-4"><a href="https://www.worldcubeassociation.org/results/rankings/333/single?region=Japan" target="_blank"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>3x3x3&nbsp;キューブ&nbsp;単発日本ランキング</button></a></div>
      <div>この他の種目のランキングや過去の記録についても、リンク先のWCAページよりご覧いただけます。 </div>
    </div>
  </div>
</div>
{% endblock content %}