{% extends "app/common/base.html" %}

{% block content %}
{% include "app/common/title.html" with title="WCA大会規則" %}

<div class="card mb-3">
  <div class="card-body">
    <div class="mb-5">
      <h5>一般的な競技形式</h5>
      <hr>
      <div>安定した実力を評価するため、多くの競技ではaverage of 5 形式を採用しています。​</div>
      <div>パズルを５回解き、最遅と最速を除いた３回の平均タイムで順位を決定します。</div>
      <div>最速タイムは単発記録として集計されますが、大会の順位には使われません。​</div>
    </div>
    <div>
      <h5>大会規則</h5>
      <hr>
      <div>WCA大会は、以下のWCA大会規則およびガイドラインに従います。</div>
      <div class="mb-4">WCA大会に参加される前に、内容をご理解いただくようお願いします。</div>
    </div>
  </div>
</div>

<div class="card-deck mb-5">
  <div class="card">
    <div class="card-header lead">
      日本語版
    </div>
    <div class="card-body">
      <div class="mb-3">
        <a href="https://www.worldcubeassociation.org/regulations/translations/japanese/"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>WCA 大会規則</button></a>
      </div>
      <div class="mb-3"> 
        <a href="https://www.worldcubeassociation.org/regulations/translations/japanese/guidelines.html"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>WCA ガイドライン</button></a>
      </div>
      <div class="mb-4">
        日本語版と英語版に差異がある場合、英語原文を優先します。
      </div>
      <div>第3条：パズルと第A条：スピード競技は、特にお問い合わせが多い内容です。</div>
      <div>詳細を必ずご確認ください。</div>
      <div class="pt-3 mb-3">
        <a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#article-3-puzzles"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>第3条：パズル</button></a>
      </div>
      <div>
        <a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#article-A-speedsolving"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>第A条：スピード競技</button></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header lead">
      英語版（原文）
    </div>
    <div class="card-body">
      <div class="mb-3">
        <a href="https://www.worldcubeassociation.org/regulations/"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>WCA Regulations</button></a>
      </div>
      <div> 
        <a href="https://www.worldcubeassociation.org/regulations/guidelines.html"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>WCA Guildlines</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
