{% extends "app/common/base.html" %}
{% load static %}

{% block content %}
<div class="card mb-3">
  <div class="card-header lead">
    {{ information.title }}&nbsp;{% include "app/common/information_type_badge.html" with type_display_name=information.get_type_display %}
  </div>
  <div class="card-body">
    {{ information.text | safe }}
    <div class="mt-3">
      <a href="https://twitter.com/intent/tweet?text={{ information.title }}%0a{{ request.scheme }}://{{ request.get_host }}{{ request.path }}%0a@scj_speedcubingより" target="_blank"><button class="btn btn-sm text-white mr-1" style="background-color: #0f1419;"><i class="fab fa-x-twitter fa-fw mr-1"></i>ポスト</button></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.path }}" rel="nofollow noopener noreferrer" target="_blank"><button class="btn bg-facebook btn-sm text-white"><i class="fab fa-facebook fa-fw mr-1"></i>シェア</button></a>
    </div>
  </div>
  <div class="card-footer small text-right">
    {{ information.updated_at | date:"Y年m月d日" }}&nbsp;投稿者:&nbsp{{ information.person.get_full_name }}
  </div>
</div>
{% endblock content %}