{% extends "app/common/base.html" %}
{% load bootstrap4 %}

{% block content %}
{% include "app/common/title.html" with title="メールアドレス変更" %}

<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <input class="btn btn-dark" type="submit" value="変更">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
