{% extends "app/common/base.html" %}
{% load bootstrap4 %}

{% block content %}
{% if format == 'event' %}
  {% include "app/common/title.html" with title="イベント投稿" %}
{% elif format == 'information' %}
  {% include "app/common/title.html" with title="お知らせ投稿" %}
{% endif %}

<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <input class="btn btn-dark" type="submit" value="送信">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
