<div class="mb-4">
  <h5>日時</h5>
  <hr>
  {{ period }}
</div>

<div class="mb-4">
  <h5>申し込み期間</h5>
  <hr>
  {{ registration_period }}
</div>
 
<div class="mb-4">
  <h5>場所</h5>
  <hr>
  <div>
    {{ venue_name }}
  </div>
  <div class="mb-2">
   {{ venue_address }}
  </div>
  <div class="col-8 embed-responsive iframe embed-responsive-16by9">
    <iframe src="https://maps.google.co.jp/maps?output=embed&q={{ latitude }},{{ longitude }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>

<div class="mb-4">
  <h5>参加費</h5>
  <hr>
  <div>
    {{ fee }}円
  </div>
</div>

<div class="mb-4">
  <h5>定員</h5>
  <hr>
  {{ limit }}名
</div>
 
<div class="mb-4">
  <h5>申し込み</h5>
  <hr>
  <div class="mb-2">
    申し込みはこちらから
  </div>
  <div>
    <a href="{{ url }}" rel="noopener noreferrer" target="_blank"><button type="button" class="btn btn-dark"><i class="fas fa-link mr-2"></i>{{ url }}</button></a>
  </div>
</div>

<div class="mb-4">
  {{ text | safe }}
</div>
