html {
    font-size: 14px;
    /* ルート要素のフォントサイズを1rem=14pxと定義する */
}

body {
    padding-top: 80px;
    padding-bottom: 100px;
    font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.w-4rem {
    width: 4rem !important;
}

.competition-list li:nth-child(odd) {
    background-color: rgb(230, 228, 228);
}

.post-list li:nth-child(odd) {
    background-color: rgb(230, 228, 228);
}

.post-type {
    display: inline;
}

.wca-avator-thumb {
    width: 2rem;
}

.type-badge {
    width: 4.5rem;
}

.title-logo {
    width: 10rem;
}

@media (max-width: 768px) {
    .title-logo {
        width: 5rem;
    }
}

.title {
    display: block;
    text-align: left;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .title {
        display: block;
        text-align: left;
        font-size: 0.6rem;
    }
}

.information-type {
    display: inline-block;
    margin-right: 0.5rem;
}

.information-title,
.post-title {
    display: block;
}

@media (max-width: 768px) {

    .information-title,
    .post-title {
        display: block;
        font-size: 1rem;
    }
}

.date {
    float: left;
    padding-right: 0.5rem;
}

.competition-name,
.post-type {
    display: inline-block;
    margin-right: 20px;
    width: 300px;
    white-space: nowrap;
    vertical-align: bottom;
}

.location {
    display: inline;
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 100%;
}

button.stripe-button-el,
button.stripe-button-el>span {
    background-color: #000000 !important;
    background-image: none;
}

table.table-bordered {
    border: 1px solid #dcdcdc;
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid #dcdcdc;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid #dcdcdc;
}

.footer {
    border: solid 0.1em #d3d3d3;
}

.modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1.75rem auto;
}

.bootstrap4-multi-input + .invalid-feedback {
    display: block;
}

.right-divider {
    border-right: 1px solid rgba(0, 0, 0, .125);
}

