{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
{% trans "確認" as title %}
{% include "app/common/title.html" with title=title %}
{% include "app/common/notification.html" %}

<div class="card">
  <div class="card-body">
    <div class="mb-3 text-nowrap table-responsive col-lg-6">
      <table class="table table-bordered">
        <tbody>
          {% for field in user_form %}
            {% if field.name == 'email' %}
              <tr>
                <td class="table-dark">{{ field.label_tag }}</td>
                <td>{{ field.value }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for field in person_form %}
            <tr>
              <td class="table-dark">{{ field.label_tag }}</td>
              {% if field.name == 'gender' %}
                <td>{{ gender }}</td>
              {% elif field.name == 'prefecture_id' %}
                <td>{{ prefecture }}</td>
              {% else %}
                <td>{{ field.value }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <form class="mb-3" action="{% url 'registration_execute' %}" method="POST">
      <div class="mb-3 g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
      <button type="submit" class="btn btn-success btn-lg mr-3">{% trans "送信" %}</button>
      <a href="{% url 'registration_input' %}" class="btn btn-dark btn-lg">{% trans "戻る" %}</a>
      {% csrf_token %}
    </form>
    <div>

    </div>
  </div>
</div>

{% endblock %}
