{% extends "app/common/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
{% trans "ユーザー新規登録" as title %}
{% include "app/common/title.html" with title=title %}

<div class="list-group mb-3 col-lg-2">
  <form method="POST" id="language_select" action="{% url 'set_language' %}">
    {% csrf_token %}
    {% if LANGUAGE_CODE == 'en' %}
      <input name="language" type="hidden" value="ja">
    {% else %}
      <input name="language" type="hidden" value="en">
    {% endif %}
    <button type="button" class="language list-group-item list-group-item-action"><i class="fas fa-language mr-2"></i>{% if LANGUAGE_CODE == 'en' %}日本語{% else %}English{% endif %}</button></a>
  </form>
</div>
<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      {{ user_form.non_field_errors }}
      {{ person_form.non_field_errors }}
      {% csrf_token %}
      {% bootstrap_form user_form layout='horizontal' %}
      {% bootstrap_form person_form layout='horizontal' %}

      <div class="ml-3">
        <div class="form-group row offset-md-3">
          <a href="{% url 'terms' %}" target="_blank"><button type="button" class="btn btn-dark mr-3 mb-2"><i class="fas fa-link"></i>&nbsp;{% trans "利用規約" %}</button></a>
          <a href="{% url 'privacy_policy' %}" target="_blank"><button type="button" class="btn btn-dark"><i class="fas fa-link"></i>&nbsp;{% trans "プライバシーポリシー" %}</button></a>
        </div>
        <div class="form-group row offset-md-3 col-md-9">
          <label class="form-check-label" for="registration_terms">
            {% trans "利用規約に同意します" %}
          </label>
          <input class="form-check-input registration_terms" type="checkbox" value="" id="registration_terms">
        </div>
        <div class="form-group row offset-md-3 col-md-9">
          <label class="form-check-label" for="registration_privacy_policy">
            {% trans "プライバシーポリシーに同意します" %}
          </label>
          <input class="form-check-input registration_privacy_policy" type="checkbox" value="" id="registration_privacy_policy">
        </div>
        <div class="alert alert-light offset-md-3" role="alert">
            {% trans "アカウント登録後にSCJ大会に参加した場合、登録した生年月日に基づいて年代別ランキングが作成され、あなたの記録とその時点での年齢が使用されます。" %}{% trans "一旦掲載された大会記録は、後から削除することはできません。利用規約とプライバシーポリシーを必ず確認してください。" %}
        </div>
      </div>
      <div class="form-group row offset-md-3 col-md-8">
        <button class="btn btn-dark registration_submit" type="submit" disabled>{% trans "登録" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
